/* animation.scss */

@keyframes nightfall {
  0% {
    opacity: 0; }

  50% {
    opacity: 0.9; }

  100% {
    opacity: 0; } }
@-webkit-keyframes nightfall {
  0% {
    opacity: 0; }

  50% {
    opacity: 0.9; }

  100% {
    opacity: 0; } }
/* !TRANSITIONS */
/* Fade */
.current-view .view.fade-transition {
  transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out; }
.current-view .view.fade {
  opacity: 0; }

.fade-setup {
  opacity: 0; }

#transition-view-container .view.fade-setup.fade-transition {
  transition: opacity 1.4s ease-in-out;
  -webkit-transition: opacity 1.4s ease-in-out;
  -moz-transition: opacity 1.4s ease-in-out;
  -o-transition: opacity 1.4s ease-in-out; }
#transition-view-container .view.fade-setup.fade {
  opacity: 1; }

/* Letter */
#letter.foreground-transition {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 1.4s ease-in-out;
  -webkit-transition: all 1.4s ease-in-out;
  -moz-transition: all 1.4s ease-in-out;
  -o-transition: all 1.4s ease-in-out; }

/* !TRANSITION VIEW */
.transition-view {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .transition-view.offscreen-left {
    left: 100%; }
  .transition-view.offscreen-right {
    left: -100%; }