button {
    @include gradient-bg(#8A8A8A, #353535);
    @include border(solid, 0, $black, 4px);
    color: $white;
    cursor: pointer;
    font-size: 1em;
    min-width: 80px;
    padding: 10px 15px;

    &:disabled {
        opacity: .5;
    }

    &.btn-none {
        background: none;
        border: 0;
        cursor: pointer;
        margin: 0;
        outline: none;
        padding: 0;
    }
}

.btn-row {
    text-align: center;
    width: 100%;

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}
