/* buttons.scss */

button {
    @include gradient-bg(#8A8A8A, #353535);
    @include border(solid, 0, black, 4px);

    padding: 10px 15px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    min-width: 80px;

    &:disabled {
        @include opacity(0.5);
    }

    &.btn-none {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        outline: none;
    }
}

.btn-row {
    text-align: center;
    width: 100%;

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

.export-log-btns-list {
    max-height: 320px;
    overflow-y: auto;

    li {
        align-items: center;
        display: flex;
        margin-bottom: 20px;

        span {
            flex-grow: 1;
        }
    }
}
