.hud-container {
    .time-passing {
        color: $red;
        font-size: 20px;
        position: relative;
    }

    .time-passing-clocks {
        height: 320px;
        left: 598px;
        position: absolute;
        text-align: center;
        top: -30px;
        width: 320px;
    }

    .time-passing-digital-clock {
        color: #767777;
        font-size: 28px;
        left: 0;
        position: absolute;
        right: 0;
        top: 200px;
    }
}

#tooltip {
    @include gradient-bg(#2f2f2f, #0f0f0f);
    border-radius: 5px;
    box-shadow: 0 0 4px $black;
    color: $white;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    white-space: pre-line;
    z-index: 9999999;
}
