/* view/base.scss */

.hud-container {
    .time-passing {
        position: relative;
        color: red;
        font-size: 20px;
    }
    .time-passing-clocks {
        position: absolute;
        width: 320px;
        height: 320px;
        left: 598px;
        top: -30px;
        text-align: center;
    }
    .time-passing-digital-clock {
        color: #767777;
        font-size: 28px;
        top: 200px;
        left: 0px;
        right: 0px;
        position: absolute;
    }
}

#tooltip {
    @include gradient-bg(#2f2f2f, #0f0f0f);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    box-shadow: 0 0 4px #000000;
    border-radius: 5px;
    color: #fff;
    white-space: pre-line;
    z-index: 9999999;
}