/* tutorial.scss */

.tutorial-box {
    @include gradient-bg(#2f2f2f, #0f0f0f);
    border-radius: 5px;
    box-shadow: 0 0 4px $black;
    color: $white;
    height: 200px;
    padding: 20px;
    position: absolute;
    width: 300px;

    hr {
        @include border(solid, 0 0 1px 0, #414141);
        background-color: $black;
        height: 1px;
    }

    h3 {
        margin-bottom: 5px;
    }

    .next {
        bottom: 20px;
        position: absolute;
        right: 20px;
    }

    .arrow {
        position: absolute;

        &.bottom { bottom: -43px; }
        &.left { left: 25px; }
        &.right { right: 25px; }
        &.top { top: -43px; }
    }
}
