/* tutorial.scss */

.tutorial-box {
    position: absolute;
    padding: 20px;

    @include gradient-bg(#2f2f2f, #0f0f0f);
    //@include border(solid, 0, black, 4px);
    border-radius: 5px;
    box-shadow: 0 0 4px #000000;

    width: 300px;
    height: 200px;
    color: white;

    hr {
        @include border(solid, 0 0 1px 0, #414141);
        height: 1px;
        background-color: #000000;
    }

    h3 {
        margin-bottom: 5px;
    }

    .next {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    .arrow {
        position: absolute;
        &.top { top: -43px }
        &.left { left: 25px }
        &.bottom { bottom: -43px }
        &.right { right: 25px }
    }
}
