/* utils.css */

.fixed {
    position: fixed;
}

.float-clear {
    clear: both;
}

.placeholder, .dimmed {
    @include opacity(0.5);
}

.transparent {
    @include opacity(0);
}

.hidden {
    visibility: hidden;
}

.hand {
    cursor: pointer;
}
