/* utils.css */

.fixed {
    position: fixed;
}

.float-clear {
    clear: both;
}

.placeholder {
    @include opacity(0.5);
}

.dimmed {
    @include opacity(0.1);
}

.darkened {
    @include opacity(0.5);
    background-color: black;
}

.transparent {
    @include opacity(0);
}

.hidden {
    visibility: hidden;
}

.hand {
    cursor: pointer;
}

.pre-wrap {
    white-space: pre-wrap;
}
