// variables.scss

$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$serif: 'Georgia', Times, 'Times New Roman' , serif;
$img-path: '../assets/images';

$main-view-height: 768px;
$main-view-width: 1024px;
$menu-bar-height: 122px;
$menu-bar-border: 2px;
$lab-view-height: $main-view-height - $menu-bar-height - $menu-bar-border;

$popup-padding: 30px;
$popup-margin: 50px;
$popup-wide-margin: 100px;
$popup-medium-margin: 150px;
$popup-narrow-margin: 250px;

// Colors
$black: #000;
$grey-blue: #5b5c5d;
$grey-brown-hud: #6e6e73;
$grey-brown-light: #a69d8c;
$grey-brown: #645d4d;
$grey-dark: #353535;
$grey: #8a8a8a;
$red: #f00;
$mint: #76e1e5;
$off-white: #f0f2f1;
$white: #fff;

// Default sizes
$spacer: 10px;
$material-icon: 48px;
$radius: 5px;
$inventory-icon-size: 90px;
