/* variables.scss */

$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Georgia", Times, "Times New Roman" , serif;
$img-path: '../assets/images';

$main-view-height: 768px;
$main-view-width: 1024px;
$menu-bar-height: 122px;
$menu-bar-border: 2px;
$lab-view-height: $main-view-height - $menu-bar-height - $menu-bar-border;

$popup-margin: 50px;
$popup-padding: 30px;
