// main.scss
@import 'reset';
@import 'variables';
@import 'mixin/color';
@import 'addtohomescreen';
@import 'buttons';
@import 'utils';
@import 'print';

@import 'popup/base';
@import 'tutorial';
@import 'hud';

@import 'view/base';

html {
    height: 100%;
    -webkit-touch-callout: none;
    user-select: none;
}

body {
    background-color: $black;
    font-family: $sans-serif;
    font-size: 100%;
    line-height: 1.5em;
    margin: auto;
    // Unedited StackOverflow-magic: http://stackoverflow.com/questions/18490334/responsive-image-full-screen-and-centered-maintain-aspect-ratio-not-exceed-wi
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}

#app {
    height: $main-view-height;
    margin: 0 auto;
    position: relative;
    width: $main-view-width;
}

h1,
h2 {
  font-weight: 600;
}
