/* main.scss */

@import 'variables';
@import 'animation';
@import 'buttons';
@import 'utils';

@import 'popup/base';

@import 'view/base';
@import 'view/menu';
@import 'view/loading';
@import 'view/overview';
@import 'view/worktable2';
@import 'view/fermentor';
@import 'view/chromograph';
@import 'view/worktable1';
@import 'view/fumehood';
@import 'view/chemicalcloset';
@import 'view/mouse';
@import 'view/washing';
@import 'view/uvroom';
@import 'view/computer';
@import 'view/incubator';
@import 'view/spectropm';

html {
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: $font;
    font-size: 100%;
    line-height: 1.5em;
    background-color: #000000;

    // Unedited StackOverflow-magic: http://stackoverflow.com/questions/18490334/responsive-image-full-screen-and-centered-maintain-aspect-ratio-not-exceed-wi
    max-width: 100%;
    max-height: 100%;

    margin: auto;
    overflow: auto;
}

#app {
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 768px;
}