/* main.scss */

@import 'reset';
@import 'variables';
@import 'mixin/color';
@import 'addtohomescreen';
@import 'buttons';
@import 'utils';
@import 'print';

@import 'popup/base';
@import 'tutorial';
@import 'hud';

@import 'view/base';

html {
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: $font;
    font-size: 100%;
    line-height: 1.5em;
    background-color: #000000;

    // Unedited StackOverflow-magic: http://stackoverflow.com/questions/18490334/responsive-image-full-screen-and-centered-maintain-aspect-ratio-not-exceed-wi
    max-width: 100%;
    max-height: 100%;

    margin: auto;
    overflow: auto;
}

#app {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: (-1024px / 2);
    width: 1024px;
    height: 768px;
}
