/* main.scss */

@import 'variables';

html {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  /*margin: 0;
  height: 100%;*/
  background-color: #000000;
  font-size: 100%;

  // Unedited StackOverflow-magic: http://stackoverflow.com/questions/18490334/responsive-image-full-screen-and-centered-maintain-aspect-ratio-not-exceed-wi
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    /*position: fixed;*/
    right: 0;
    top: 0;
}

/* !DEVELOPMENT */
.placeholder {
  background-color: pink;
}

.fixed {
  position: fixed;
}

/* !SITE WIDE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.5em;
  /* based out from the recommended 16px font-size standard */
}

.popup {
  font-family: $font;
  font-size: 100%;
  color: #ffffff;

  h1 {
    font-size: 100%;
  }

  p {
    font-size: 80%;
  }

  .chc-select a:link {
    font-family: $font;
    font-size: 80%;
    color: #ffffff;
    text-decoration: none;
  }

  .chc-select a:visited {
    color: #ffffff;
  }

  button {
    font-size: 80%;
  }
}

.popup-taskchecklist h1 {
  font-size: 100%;
}

/* !GENERAL */
.float-clear {
  clear: both;
}

.dimmed {
  opacity: 0.4;
}

.dimmed-most {
  opacity: 0.2;
}

.hidden {
  visibility: hidden;
}

.btn-row {
  width: 100%;
  text-align: center;
}

.btn-none {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
}

.right-align {
  text-align: right;
}

/* !ANIMATIONS */
@import 'animation';

/* !MENU */
@import 'view/menu';

/* !VIEWS */
@import 'view/base';

/* !POPUPS */
@import 'popup/base';

/* !FULL SCREEN VIDEO */
#video-container {
  display: none;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  #video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1024px;
    height: 768px;
    margin-left: -512px;
    margin-top: -384px;
    /* Vertical align hack */
}

/* !LOADING VIEW */
@import 'view/loading';

/* !OVERVIEW VIEW */
@import 'view/overview';

/* !DOOR VIEW */
.door-view {
  /*background-image: url(#{$img-path}/worktable-view-background.jpg);*/
}

/* !WORKTABLE2 VIEW */
@import 'view/worktable2';

/* !FERMENTOR VIEW */
@import 'view/fermentor';

/* CHROMATOGRAPH SCREEN VIEW */
@import 'view/chromograph';

/* !HPLC VIEW */
.hplc-view {
  /*background-image: url(#{$img-path}hplc-view-background.jpg);*/
}

/* !WORKTABLE1 VIEW */
@import 'view/worktable1';

/* !FUMEHOOD VIEW */
@import 'view/fumehood';

/* !CHEMICAL CLOSET VIEW */
@import 'view/chemicalcloset';

/* !MOUSE VIEW */
@import 'view/mouse';

/* !WASHING MACHINE VIEW */
.washingmachine-view {
  background-image: url(#{$img-path}/wash_base.png);
}

/* UV ROOM VIEW */
.uv-view {
  background-image: url(#{$img-path}/uv_base.png);
}

/* !COMPUTER VIEW */
@import 'view/computer';

/* !INCUBATOR VIEW */
@import 'view/incubator';

/* SPECTROPHOTOMETER VIEW */
@import 'view/spectropm';
