@media screen {
    #print-popup {
        visibility: hidden;
    }
}

@media print {
    @page {
        margin-top: 2cm;
        margin-bottom: 2cm;
        margin-right: 2cm;
        margin-left: 2cm;
    }

    #app {
        visibility: hidden;
    }

    #print-popup {
        visibility: visible;

        hr,
        .btn-row {
            display: none;
        }

        ol {
            margin: 2em 0 1em;
        }

        li {
            margin: 1em 0;

            li {
                margin: .5em 0;
            }
        }

        h1 {
            margin: 2em 0 1em;
        }

        h2 {
            font-size: 100%;
            font-weight: bold;
            margin-top: 2em;
        }
    }
}
