/**
 * CSS for the Virtuelt Laboratorium PhoneGap tablet app and site.
 * @author: Chris Hjorth
 */

html {
	height: 100%;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
	margin: 0;
	height: 100%;
	background-color: #000000;
	font-size: 100%;
}

/* !DEVELOPMENT */
.placeholder {
	background-color: pink;
}

/* !SITE WIDE TYPOGRAPHY */
body {
	font-size: 100%;
	line-height: 1.5em; /* based out from the recommended 16px font-size standard */
}

.popup {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: #ffffff;
}

.popup h1 {
	font-size: 100%;
}

.popup p {
	font-size: 80%;
}

.popup .chc-select a:link {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 80%;
	color: #ffffff;
	text-decoration: none;
}
.popup .chc-select a:visited {
	color: #ffffff;
}

.popup button {
	font-size: 80%;
}

.popup-taskchecklist h1 {
	font-size: 100%;
}

.btn-row {
	text-align: center;
}

/* !GENERAL */
.float-clear {
	clear: both;
}
.hidden {
	visibility: hidden;
}
.btn-row {
	width: 100%;
}
.btn-none {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	outline:none;
}
.right-align {
	text-align: right;
}

/* !MENU */
.menu-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.top-menu {
	z-index: 100;
	position: absolute;
	left: 50%;
	top: 0;
	width: 1024px;
	/*height: 100px;*/
	margin-left: -512px;
}

.top-menu ul {
	padding: 0;
	margin: 14px 0 0 0;
	list-style: none;
}

.top-menu .left {
	margin-left: 10px;
	float: left;
}

.top-menu .right {
	margin-right: 10px;
	float: right;
}

.top-menu ul li {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.menu {
	z-index: 100;
	position: absolute;
	left: 50%;
	top: 644px;
	width: 1024px;
	height: 122px; /* account for 2px top border */
	margin-left: -512px;
	background: #6e6e73; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #6e6e73 0%, #433f46 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#6e6e73), color-stop(100%,#433f46)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #6e6e73 0%,#433f46 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #6e6e73 0%,#433f46 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #6e6e73 0%,#433f46 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #6e6e73 0%,#433f46 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e6e73', endColorstr='#433f46',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-top-width: 2px;
	border-top-style: solid;
	border-color: #555159;
}

.menu ul {
	padding: 0;
	margin: 0 0 0 0;
	float: left;
	list-style: none;
}

.menu ul li {
	float: left;
	margin: 0 5px 0 5px;
}

.menu ul li a {
	cursor: pointer;
}

.menu-left-icon {
	width: 98px;
	height: 101px;
}

.menu .logo-container {
	position: absolute;
	left: 0;
	bottom: 0;
}

.menu .logo-container .logo {
	width: 100px;
	height: 30px;
}

.menu .menu-inventory-container {
	float: left;
	height: 100px;
	text-align: center;
}

.menu-inventory-container ul {
	margin: 0;
	padding: 0;
}

.inventory {
	margin: 10px 20px 0 20px;
	width: 500px;
	height: 90px;
	overflow-x: scroll;
	overflow-y: hidden;
	border-width: 2px;
    border-style: solid;
    border-radius: 45px;
    border-color: #1c1b1e;
    background: #38363c; /* Old browsers */
	background: -moz-linear-gradient(left,  #38363c 0%, #54565a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#38363c), color-stop(100%,#54565a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #38363c 0%,#54565a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #38363c 0%,#54565a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #38363c 0%,#54565a 100%); /* IE10+ */
	background: linear-gradient(to right,  #38363c 0%,#54565a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38363c', endColorstr='#54565a',GradientType=1 ); /* IE6-9 */
}

.inventory ul {
	width: 3000px;
	height: 90px;
	display: block;
	list-style-type: none;
    white-space: nowrap;
}

.inventory ul li {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 0;
}

.menu-inventory-box {
	position: relative;
	width: 80px;
	height: 75px;
	padding-top: 5px;
	/*border-radius: 4px;
	background-color: white;*/
}

.menu-inventory-box .draggable {
	margin-left: auto;
	margin-right: auto;
}

.menu-right-links {
	float: right;
}

.menu-right-links ul {
	height: 112px;
	border-width: 2px;
	border-style: solid;
	border-color: #373A46;
	border-top-left-radius: 56px;
	border-bottom-left-radius: 56px;
	background: #424245; /* Old browsers */
	background: -moz-linear-gradient(left,  #424245 0%, #373a46 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#424245), color-stop(100%,#373a46)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #424245 0%,#373a46 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #424245 0%,#373a46 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #424245 0%,#373a46 100%); /* IE10+ */
	background: linear-gradient(to right,  #424245 0%,#373a46 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424245', endColorstr='#373a46',GradientType=1 ); /* IE6-9 */
}

.menu-right-links img {
	width: 106px;
	height: 106px;
	margin-top: 3px;
}

.pipette {
	position: absolute;
	top: 400px;
	left: 800px;
	width: 105px;
	height: 227px;
	z-index: 400;
	background-image: url('../img/grab_pipette_notip.png');
	background-size: 105px 227px;
}

.pipette.tip {
	background-image: url('../img/grab_pipette_tip.png');
}

.pipette.tip.full {
	background-image: url('../img/grab_pipette_tip_click.png');
}

/* !ANIMATIONS */
@keyframes nightfall {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.9;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes nightfall {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.9;
	}
	100% {
		opacity: 0;
	}
}


/* !TRANSITIONS */

/* Fade */
.current-view .view.fade-transition {
	transition: opacity 0.4s ease-in-out;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
}
.current-view .view.fade {
	opacity: 0;
}

.fade-setup {
	opacity: 0;
}

#transition-view-container .view.fade-setup.fade-transition {
	transition: opacity 1.4s ease-in-out;
	-webkit-transition: opacity 1.4s ease-in-out;
	-moz-transition: opacity 1.4s ease-in-out;
    -o-transition: opacity 1.4s ease-in-out;
}
#transition-view-container .view.fade-setup.fade {
	opacity: 1;
}

/* Letter */
#letter.foreground-transition {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: all 1.4s ease-in-out;
	-webkit-transition: all 1.4s ease-in-out;
	-moz-transition: all 1.4s ease-in-out;
    -o-transition: all 1.4s ease-in-out;
}

/* !TRANSITION VIEW */
.transition-view {
	z-index: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.transition-view.offscreen-left {
	left: 100%;
}

.transition-view.offscreen-right {
	left: -100%;
}

/* !VIEWS */
.interface-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.current-view {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.view {
	position: relative;
	left: 50%;
	width: 1024px;
	height: 644px;
	margin-left: -512px;
	background-size: 1024px 644px;
}

.nightmode {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0;
	z-index: 10;
	
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	animation-name: nightfall;
	-webkit-animation-name: nightfall;
	-moz-animation-name: nightfall;
}

/* !POPUPS */
#popup-container {
	display: none;
	z-index: 1000;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.3);
}

.popup {
	z-index: 1001;
	position: absolute;
	left: 0;
	top: 0;
	margin: 10% 25% 0 25%;
	padding: 2%;
	width: 46%;
	min-height: 50%;
	border-radius: 5px;
	box-shadow: 0 0 4px #000000;
	background: #2f2f2f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmMmYyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZjBmMGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #2f2f2f 0%, #0f0f0f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f2f2f), color-stop(100%,#0f0f0f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2f2f2f 0%,#0f0f0f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2f2f2f 0%,#0f0f0f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2f2f2f 0%,#0f0f0f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2f2f2f 0%,#0f0f0f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#0f0f0f',GradientType=0 ); /* IE6-8 */
}

.popup h1 {
	margin: 0;
}

.popup hr {
	height: 1px;
	background-color: #000000;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #414141;
}

.popup button {
	display: inline;
	/*margin: 8px 2% 0 2%;*/
	/*width: 25%;*/
	/*height: 24px;*/
	background: #b7babc; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3YmFiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZTVlNWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b7babc 0%, #5e5e5e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7babc), color-stop(100%,#5e5e5e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b7babc 0%,#5e5e5e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b7babc 0%,#5e5e5e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b7babc 0%,#5e5e5e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b7babc 0%,#5e5e5e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7babc', endColorstr='#5e5e5e',GradientType=0 ); /* IE6-8 */
	border-style: solid;
	border-width: 0;
	border-radius: 4px;
}

.popup .box {
	box-sizing: content-box;
	overflow: scroll;
	margin: 0 4% 10px 4%;
	padding: 0;
	width: 40%;
	height: 100px;
	float: left;
	background: #333333; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNzI3MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #333333 0%, #272727 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#272727)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333333 0%,#272727 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 0%,#272727 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #333333 0%,#272727 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333333 0%,#272727 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#272727',GradientType=0 ); /* IE6-8 */
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
}

.popup .chc-select .selected div {
	background-color: #575757;
}

/* !TASK CHECKLIST POPUP */
.popup-taskchecklist {
	z-index: 101;
	position: absolute;
	left: 0;
	top: 0;
	margin: 20% 25% 35% 25%;
	padding: 1% 2% 2% 2%;
	width: 46%;
	box-shadow: 0 0 4px #000000;
	background-color: #ffffff;
}

.close-popup-link {
	position: absolute;
	right: -10px;
	top: -10px;
}

.popup-taskchecklist p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.popup-taskchecklist fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.popup-taskchecklist hr {
	height: 1px;
	background-color: #111111;
	border: none;
}

.popup-taskchecklist ol {
	list-style-type: none;
	counter-reset: level1;
	padding-left: 0;
}
.popup-taskchecklist ol .completed {
	text-decoration: line-through;
}
.popup-taskchecklist ol li:before {
	content: counter(level1) ". ";
	counter-increment: level1;
}
.popup-taskchecklist ol li ol {
	list-style-type: none;
	counter-reset: level2;
	padding-left: 20px;
}
.popup-taskchecklist ol li ol li:before {
	content: counter(level1) "." counter(level2) " ";
	counter-increment: level2;
}

.popup-taskchecklist input[type="checkbox"] {
	display: none;
}

.popup-taskchecklist input[type="checkbox"] + label {
	display: inline-block;
	/*float: right;*/
	width: 14px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: #111111;
    cursor:pointer;
}

.popup-taskchecklist input[type="checkbox"]:checked + label {
	border-color: red;
}

/* !QUIZ-POPUP */
.popup-quiz {
	z-index: 101;
	position: absolute;
	left: 0;
	top: 0;
	margin: 10% 25% 0 25%;
	padding: 1% 2% 2% 2%;
	width: 46%;
	box-shadow: 0 0 4px #000000;
	background-color: #ffffff;
}

.popup-quiz p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.popup-quiz fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.popup-quiz ul {
	padding-left: 20px;
}

.popup-quiz input[type="radio"] {
	display: none;
}

.popup-quiz input[type="radio"] + label {
	display: inline-block;
	/*float: right;*/
	width: 14px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: #111111;
    cursor:pointer;
}

.popup-quiz input[type="radio"]:checked + label {
	border-color: red;
}

/* POPUP DOOR */
.popup-door ul {
	list-style: none;
	width: 480px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	clear: both;
}

.popup-door ul li {
	float: left;
}

.popup-door ul li img {
	height: 80px;
	width: 80px;
	margin: 0 40px 0 40px;
}

.popup-door .btn-row{
	position: absolute;
	bottom: 40px;
	left: 0px;
}

/* POPUP LIST */
.draggablespawn-popuplist {
	width: 80px;
	height: 80px;
}
.draggablespawn-popuplist img {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
}

/* !FULL SCREEN VIDEO */
#video-container {
	display: none;
	z-index: 100;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#video-container video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1024px;
	height: 768px;
	margin-left: -512px;
	margin-top: -384px; /* Vertical align hack */
}

/* !DRAGGABLE */
.draggable {
	z-index: 10;
	cursor: pointer;
}

.draggablespawner {
	cursor: pointer;
}

/* !MAIN VIEW */
.main-view {
	background-image: url('../img/overview_base.png');
}

#overview-spectrophotometer-img {
	position: absolute;
	left: 365px;
	top: 87px;
	width: 138px;
	height: 85px;
}

#overview-door-img {
	position: absolute;
	left: 499px;
	top: 0;
	width: 118px;
	height: 192px;
}

#overview-chemicalcloset-img {
	position: absolute;
	left: 619px;
	top: 0;
	width: 307px;
	height: 207px;
}

#overview-hood-img {
	position: absolute;
	left: 34px;
	top: 120px;
	width: 257px;
	height: 284px;
}

#overview-mouse-img {
	position: absolute;
	left: 802px;
	top: 206px;
	width: 155px;
	height: 106px;
}

#overview-worktable2-img {
	position: absolute;
	left: 446px;
	top: 192px;
	width: 244px;
	height: 120px;
}

#overview-worktable1-img {
	position: absolute;
	left: 290px;
	top: 355px;
	width: 359px;
	height: 130px;
}

#overview-fermentorchroma-img {
	position: absolute;
	left: 802px;
	top: 313px;
	width: 222px;
	height: 301px;
}

#overview-incubator-img {
	position: absolute;
	left: 359px;
	top: 485px;
	width: 153px;
	height: 129px;
}

#letter {
	position: absolute;
	left: 70px;
	top: 220px;
	perspective: 600px;
	-webkit-transform: rotateX(80deg) rotateY(-10deg) rotateZ(-10deg);
	-o-transform: rotateX(80deg) rotateY(-10deg) rotateZ(-10deg);
	-moz-transform: rotateX(80deg) rotateY(-10deg) rotateZ(-10deg);
	-ms-transform: rotateX(80deg) rotateY(-10deg) rotateZ(-10deg);
	transform: rotateX(80deg) rotateY(-10deg) rotateZ(-10deg);
	width: 50px;
	height: 27px;
	background-color: yellow;
}

#letter.foreground {
	position: absolute;
	left: 155px;
	top: 95px;
	perspective: 600px;
	-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	-ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	-o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	width: 650px;
	height: 350px;
	background-color: yellow;
}

/* !DOOR VIEW */
.door-view {
	/*background-image: url('../img/worktable-view-background.jpg');*/
}

/* !WORKTABLE2 VIEW */
.worktable2-view {
	background-image: url('../img/work2_base.png');
}

#worktable2-table {
	position: absolute;
	top: 460px;
	left: 0px;
	width: 1020px;
	height: 110px;
	z-index: 9;
}

#worktable2-testtubeholder {
	position: absolute;
	top: 318px;
	left: 492px;
	width: 242px;
	height: 138px;
}

#worktable2-testtubeholder ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#worktable2-testtubeholder ul li {
	float: left;
}

#worktable2-testtubeholder #tube1,
#worktable2-testtubeholder #tube1 img {
	width: 51px;
	height: 138px;
}
#worktable2-testtubeholder #tube2,
#worktable2-testtubeholder #tube2 img {
	width: 36px;
	height: 138px;
}
#worktable2-testtubeholder #tube3,
#worktable2-testtubeholder #tube3 img {
	width: 36px;
	height: 138px;
}
#worktable2-testtubeholder #tube4,
#worktable2-testtubeholder #tube4 img {
	width: 39px;
	height: 138px;
}
#worktable2-testtubeholder #tube5,
#worktable2-testtubeholder #tube5 img {
	width: 38px;
	height: 138px;
}
#worktable2-testtubeholder #tube6,
#worktable2-testtubeholder #tube6 img {
	width: 41px;
	height: 138px;
}

#worktable2-centrifuge {
	position: absolute;
	top: 203px;
	left: 113px;
	width: 117px;
	height: 103px;
}

#worktable2-blender {
	position: absolute;
	top: 224px;
	left: 371px;
	width: 80px;
	height: 80px;
}
#worktable2-blender.on {
	background-image: url('../img/work2_blender-on.png');
}

#worktable2-od {
	position: absolute;
	top: 195px;
	left: 817px;
	width: 181px;
	height: 234px;
}

#worktable2-od-display {
	position: absolute;
	top: 240px;
	left: 870px;
	height: 44px;
	width: 70px;
	z-index: 10;
	font-size: 30px;
	line-height: 30px;
	padding-top: 7px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	opacity: 0.7;
}

/* !FERMENTOR VIEW */
.fermentor-view {
	background-image: url('../img/fermkroma_base.png');
}

.fermentor-view #fermentor-screen-link {
	position: absolute;
	left: 500px;
	top: 40px;
	width: 273px;
	height: 206px;
}

#fermentor {
	position: absolute;
	top: 90px;
	left: 100px;
	width: 230px;
	height: 420px;
}

/* CHROMATOGRAPH SCREEN VIEW */
.chromatographscreen-view {
	background-image: url('../img/zoom_kromatograf.png');
}

.fermentor-screen {
	position: absolute;
	top: 84px;
	left: 186px;
	width: 632px;
	height: 432px;
}

.fermentor-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fermentor-control {
	float: left;
	color: #ffffff;
	background-color: #1b6d72;
	border-radius: 4px;
	margin: 0 10px 10px 10px;
	height: 46px;
}

.fermentor-control div {
	float: left;
}

.fermentor-control .label,
.fermentor-control .value {
	padding-top: 10px;
}

.fermentor-control .label {
	margin: 0 10px 0 10px;
}

.fermentor-control .value {
	margin: 0 5px 0 0;
}

.fermentor-footer button {
	display: block;
	height: 20px;
	width: 40px;
	margin: 2px;
	background-color: #2bcb36;
	border-radius: 2px;
}

#fermentor-start-btn {
	float: right;
	margin: 0 10px 10px 10px;
	height: 46px;
	width: 70px;
}
#fermentor-start-btn.running {
	background-color: #f03939;
}

.fermentor-graph {
	width: 620px;
	height:360px;
}

/* !HPLC VIEW */
.hplc-view {
	/*background-image: url('../img/hplc-view-background.jpg');*/
}

/* !WORKTABLE1 VIEW */
.worktable1-view {
	background-image: url('../img/work1_base.png');
}

#worktable1-table {
	position: absolute;
	top: 460px;
	left: 220px;
	width: 804px;
	height: 100px;
	z-index: 9;
}

#worktable1-testtubeholder {
	position: absolute;
	top: 315px;
	left: 514px;
	width: 242px;
	height: 138px;
}

#worktable1-testtubeholder ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#worktable1-testtubeholder ul li {
	float: left;
}

#worktable1-testtubeholder #tube1,
#worktable1-testtubeholder #tube1 img {
	width: 51px;
	height: 138px;
}
#worktable1-testtubeholder #tube2,
#worktable1-testtubeholder #tube2 img {
	width: 36px;
	height: 138px;
}
#worktable1-testtubeholder #tube3,
#worktable1-testtubeholder #tube3 img {
	width: 36px;
	height: 138px;
}
#worktable1-testtubeholder #tube4,
#worktable1-testtubeholder #tube4 img {
	width: 39px;
	height: 138px;
}
#worktable1-testtubeholder #tube5,
#worktable1-testtubeholder #tube5 img {
	width: 38px;
	height: 138px;
}
#worktable1-testtubeholder #tube6,
#worktable1-testtubeholder #tube6 img {
	width: 41px;
	height: 138px;
}

#worktable1-bunsen {
	position: absolute;
	top: 110px;
	left: 340px;
	width: 90px;
	height: 180px;
}

#worktable1-bunsenflame {
	background-image: url('../img/work1_bunsenFlame.png');
	position: absolute;
	top: 6px;
	left: 335px;
	width: 64px;
	height: 128px;
}

#worktable1-electroporator {
	position: absolute;
	top: 230px;
	left: 440px;
	width: 170px;
	height: 70px;
}

#worktable1-electroporator-btn {
	position: absolute;
	top: 198px;
	left: 714px;
	width: 74px;
	height: 69px;
}

#worktable1-heater-btn {
	position: absolute;
	top: 273px;
	left: 893px;
	width: 78px;
	height: 91px;
}

#worktable1-heater-testtubeholder {
	position: absolute;
	top: 229px;
	left: 857px;
	width: 105px;
	height: 38px;
}

#worktable1-heater-testtubeholder ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#worktable1-heater-testtubeholder ul li {
	float: left;
}

#heatertube1 {
	width: 38px;
	height: 38px;
}

#heatertube2 {
	width: 26px;
	height: 38px;
}

#heatertube3 {
	width: 41px;
	height: 38px;
}

.worktable1-view .video-container {
	z-index: 0;
	height: 100%;
	width: 100%;
}
.worktable1-view .video-container.playing {
	z-index: 1000;
	background-color: #000000;
}
.worktable1-view .video-container video {
	width: 100%;
}

/* !HOOD VIEW */
.hood-view {
	background-image: url('../img/fume_base.png');
}

/* !CHEMICAL CLOSET VIEW */
.chemicalcloset-view {
	background-image: url('../img/storage.png');
}

#chemicalcloset-closet-link div {
	position: absolute;
	top: 50px;
	left: 68px;
	width: 440px;
	height: 360px;
}

#chemicalcloset-fridge-link div {
	position: absolute;
	top: 10px;
	left: 544px;
	width: 310px;
	height: 610px;
}

#chemicalcloset-drawer-link div {
	position:  absolute;
	top: 428px;
	left: 96px;
	width: 416px;
	height: 160px;
}

/* !MOUSE VIEW */
.mouse-view {
	width: 1024px;
	height: 644px;
	background-image: url('../img/mouse-view-background-sprite_sRGB.png');
	background-size: 1024px 1288px;
	background-position: 0 0;
}
.osxsafari .mouse-view {
	background-image: url('../img/mouse-view-background-sprite_rec709.png');
}
.mouse-view.no-bottle {
	background-position: 0 644px;
}

.video-container {
	position: absolute;
	left: 0;
	top: 0;
}
.video-container .offscreen {
	position: absolute;
	top: 0;
	left: -3000px;
}

#mouse-video-runfast {
	position: absolute;
	z-index: 5;
	left: 350px;
	top: 0;
	width: 480px;
	height: 500px;
}
#mouse-video-runfast.offscreen {
	left: -3000px;
}

#mouse-video-drinkstart {
	position: absolute;
	z-index: 5;
	left: 365px;
	top: 0;
	width: 660px;
	height: 644px;
}
#mouse-video-drinkstart.offscreen {
	left: -3000px;
}

#mouse-video-drinkloop {
	position: absolute;
	z-index: 5;
	left: 365px;
	top: 0;
	width: 660px;
	height: 644px;
}
#mouse-video-drinkloop.offscreen {
	left: -3000px;
}

#mouse-video-inj {
	position: absolute;
	z-index: 5;
	left: 350px;
	top: 0;
	width: 480px;
	height: 500px;
}
#mouse-video-inj.offscreen {
	left: -3000px;
}

#mouse-video-rundie {
	position: absolute;
	z-index: 5;
	left: 350px;
	top: 0;
	width: 480px;
	height: 500px;
}
#mouse-video-rundie.offscreen {
	left: -3000px;
}

#mouse-video-injdie {
	position: absolute;
	z-index: 5;
	left: 350px;
	top: 0;
	width: 480px;
	height: 500px;
}
#mouse-video-injdie.offscreen {
	left: -3000px;
}

#mouse-video-cut {
	position: absolute;
	z-index: 5;
	left: 350px;
	top: 0;
	width: 480px;
	height: 500px;
}
#mouse-video-cut.offscreen {
	left: -3000px;
}

#water-bottle {
	position: absolute;
	left: 840px;
	top: 260px;
	width: 168px;
	height: 365px;
	background-image: none;
	z-index: 11;
}
#water-bottle.visible {
	background-image: url("../img/grab_drink.png");
}

#mouse {
	position: absolute;
	left: 450px;
	top: 240px;
	width: 300px;
	height: 150px;
	z-index: 10;
}

.mousegraph {
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	transform: rotate(-4deg);
	left: 64px;
	top: 348px;
	width: 250px;
	height:200px;
}

#dead_mouse {
	position: absolute;
	left: 350px;
	top: 0;
	height: 500px;
	width: 480px;
	background-image: url('../img/deadmouse_spleen_sprite.png');
	background-position: 0 0;
	background-size: 480px 1500px;
	z-index: 4;
}
#dead_mouse.cut-with-spleen {
	background-position: 0 -500px;
}
#dead_mouse.cut {
	background-position: 0 -1000px;
}

/* !WASHING MACHINE VIEW */
.washingmachine-view {
	background-image: url('../img/wash_base.png');
}

/* UV ROOM VIEW */
.uv-view {
	background-image: url('../img/uv_base.png');
}

/* !COMPUTER VIEW */
.computer-view {
	background-image: url('../img/computer.png');
}

.computer-screen {
	position: absolute;
	left: 62px;
	top: 46px;
	width: 893px;
	height: 524px;
	background-color: #eeeeee;
}

.computer-mainmenu {
	width: 100%;
	height: 100%;
}

.computer-mainmenu ul {
	padding: 40px 0 0 140px;
	list-style: none;
	clear: both;
}

.computer-mainmenu ul li {
	float: left;
	width: 100px;
	margin: 50px;
}

.computer-mainmenu ul li a:link {
	text-decoration: none;
}

.computer-mainmenu ul li .icon {
	width: 80px;
	height: 80px;
	margin: 0 auto 0 auto;
	background-image: url("../img/computer_icon.png");
	border-radius: 8px;
}

.computer-mainmenu ul li .text {
	margin-top: 4px;
	color: #333333;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 80%;
	line-height: 120%;
}

.computer-header-container {
	height: 10%;
}

.computer-header-container .menu-link {
	float: left;
	padding: 10px 0 0 10px;
}

.computer-header {
	margin: 0;
	padding-top: 1.2%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 140%;
	font-weight: bold;
	text-align: center;
	color: #333333;
}

.computer-subheader {
	padding-left: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 120%;
	font-weight: bold;
}

.computer-view-view {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.computer-view-view ul {
	padding: 0;
	margin: 0;
	width: 29.5%;
	height: 90%;
	float: left;
	list-style: none;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #333333;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #333333;
}

.computer-view-view ul li div {
	padding-left: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: #333333;
}

.computer-view-view ul li a:link {
	text-decoration: none;
}

.computer-view-view ul li .selected {
	color: #ffffff;
	background-color: #005aff;
}

.computer-view-view .detail {
	position: relative;
	width: 70%;
	height: 90%;
	float: left;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #333333;
}

.computer-view-view .detail .mouse {
	position: absolute;
	top: 25%;
	left: 25%;
	height: 50%;
	width: 50%;
	background-color: pink;
}

.computer-view-view .detail .order-btn {
	position: absolute;
	bottom: 4%;
	width: 10%;
	margin: 0 45% 0 45%;
}

.computer-view-view .droparea {
	height: 40%;
	padding-left: 10px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
}

.computer-view-view .droparea p {
	position: relative;
	top:40%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 80%;
	color: #333333;
	text-align: center;
}

.draggablespawn-computer {
	padding-left: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: #333333;
	background-color: #bbbbbb;
	opacity: 0.5;
	border-radius: 6px;
	cursor: pointer;
	z-index: 1000;
}

.dna-element {
	position: relative;
	float: left;
	margin-top: 10%;
	width: 60px;
	height: 60px;
}

.dna-element-img {
	width: 60px;
	height: 20px;
	margin-top: 14px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.dna-element-name {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 50%;
	color: #333333;
	line-height: 120%;
	text-align: center;
}

.dna-element .remove-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background-color: #666666;
	color: #ffffff;
	border: 0;
}

.sequence-container {
	padding-left: 10px;
	padding-right: 10px;
	height: 150px;
	overflow-y: scroll;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #333333;
}

.sequence {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 80%;
	color: #333333;
	line-height: 140%;
}

.sequence span {
	word-wrap: break-word;
}

/* !INCUBATOR VIEW */
.incubator-view {
	background-image: url('../img/off_base.png');
}

.incubator-view .cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 1024px;
	height: 644px;
	z-index: 100;
	background-image: url('../img/on_base2.png');
}

.incubator-view button,
.incubator-view .time,
.incubator-view .temperature {
	z-index: 101;
}

#incubator-btn {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 62px;
	left: 710px;
}

.incubator-view .time,
.incubator-view .temperature {
	font-size: 38px;
	font-family: sans-serif;
	opacity: 0.7;
}

.incubator-view .time {
	position: absolute;
	top: 94px;
	left: 270px;
}

.incubator-view .temperature {
	position: absolute;
	top: 94px;
	left: 495px;
}

#incubator-timeup-btn {
	position: absolute;
	width: 48px;
	height: 48px;
	top: 58px;
	left: 392px;
}

#incubator-timedown-btn {
	position: absolute;
	width: 48px;
	height: 48px;
	top: 108px;
	left: 392px;
}

#incubator-tempup-btn {
	position: absolute;
	width: 48px;
	height: 48px;
	top: 58px;
	left: 616px;
}

#incubator-tempdown-btn {
	position: absolute;
	width: 48px;
	height: 48px;
	top: 108px;
	left: 618px;
}

#incubator-testtube-holder {
	position: absolute;
	top: 240px;
	left: 300px;
	width: 400px;
	height: 140px;
}

.incubator-view ul {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}

.incubator-view ul li {
	position: absolute;
}

#incubator-testtube-holder ul #incubator-tubeslot-1 {
	width: 61px;
	height: 126px;
	top: 20px;
	left: 69px;
}

#incubator-testtube-holder ul #incubator-tubeslot-2 {
	width: 35px;
	height: 126px;
	top: 20px;
	left: 130px;
}

#incubator-testtube-holder ul #incubator-tubeslot-3 {
	width: 36px;
	height: 126px;
	top: 20px;
	left: 165px;
}

#incubator-testtube-holder ul #incubator-tubeslot-4 {
	width: 38px;
	height: 126px;
	top: 20px;
	left: 201px;
}

#incubator-testtube-holder ul #incubator-tubeslot-5 {
	width: 39px;
	height: 126px;
	top: 20px;
	left: 239px;
}

#incubator-testtube-holder ul #incubator-tubeslot-6 {
	width: 62px;
	height: 126px;
	top: 20px;
	left: 278px;
}

#incubator-petridish-level {
	position: absolute;
	top: 386px;
	left: 300px;
	width: 400px;
	height: 120px;
}

#incubator-petridish-level ul #incubator-dishslot-1 {
	width: 136px;
	height: 44px;
	top: 0;
	left: 2px;
}

#incubator-petridish-level ul #incubator-dishslot-2 {
	width: 114px;
	height: 44px;
	top: 0;
	left: 138px;
}

#incubator-petridish-level ul #incubator-dishslot-3 {
	width: 152px;
	height: 44px;
	top: 0;
	left: 252px;
}

#incubator-petridish-level ul #incubator-dishslot-4 {
	width: 136px;
	height: 94px;
	top: 44px;
	left: 2px;
}

#incubator-petridish-level ul #incubator-dishslot-5 {
	width: 114px;
	height: 94px;
	top: 44px;
	left: 138px;
}

#incubator-petridish-level ul #incubator-dishslot-6 {
	width: 152px;
	height: 94px;
	top: 44px;
	left: 252px;
}

/* SPECTROPHOTOMETER VIEW */
.spectrophotometer-view {
	background-image: url('../img/spc_spektro_off.png');
}


