/* mixin/compositecontainer.scss */

.composite-container {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li { float: left; }
  }
}

@mixin tuberack($left, $top) {
  @extend .composite-container;

  position: absolute;
  left: $left;
  top: $top;
  width: 242px;
  height: 138px;

  #tube1 { width: 51px; }
  #tube2 { width: 36px; }
  #tube3 { width: 36px; }
  #tube4 { width: 39px; }
  #tube5 { width: 38px; }
  #tube6 { width: 41px; }

  #tube1, #tube2, #tube3, #tube4, #tube5 { height: 138px; }
}

@mixin tablespacepetri($left, $top) {
  @extend .composite-container;

  position: absolute;
  left: $left;
  top: $top;
  width: 390px;
  height: 100px;
  z-index: 9;
}

@mixin tablespacemicro($left, $top) {
  @extend .composite-container;

  position: absolute;
  left: $left;
  top: $top;
  width: 390px;
  height: 100px;
  z-index: 9;

  #micro3 {
    position: absolute;
    left: 120px;
    top: -70px;
  }
}