/* view/base.scss */

@import '../mixin/compositecontainer';

.interface-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pipette {
    position: absolute;
    top: 400px;
    left: 800px;
    width: 105px;
    height: 227px;

    background-image: url(#{$img-path}/grab_pipette_notip.png);
    background-size: 105px 227px;

    &.tip {
        background-image: url(#{$img-path}/grab_pipette_tip.png);
    }

    &.tip.press-side-button {
        background-image: url(#{$img-path}/grab_pipette_side_button.png);
    }

    &.tip.press-top-button {
        background-image: url(#{$img-path}/grab_pipette_top_button.png);
    }
}

@mixin view {
    position: relative;
    left: 50%;
    width: 1024px;
    height: 644px;
    margin-left: -512px;
    background-size: 1024px 644px;
}

@import 'menu';
@import 'loading';
@import 'overview';
@import 'worktable2';
@import 'worktable3';
@import 'fermentor';
@import 'chromograph';
@import 'worktable1';
@import 'fumehood';
@import 'chemicalcloset';
@import 'mouse';
@import 'vetmonitor';
@import 'washing';
@import 'uvroom';
@import 'computer';
@import 'incubator';
@import 'spectropm';
