/* view/base.scss */

.interface-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.current-view {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@mixin view {
  position: relative;
  left: 50%;
  width: 1024px;
  height: 644px;
  margin-left: -512px;
  background-size: 1024px 644px;
}

.nightmode {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  z-index: 10;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-name: nightfall;
  -webkit-animation-name: nightfall;
  -moz-animation-name: nightfall;
}