/* view/base.scss */

@import '../mixin/compositecontainer';

.interface-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pipette {
    position: absolute;
    top: 400px;
    left: 800px;
    width: 105px;
    height: 227px;

    background-image: url(#{$img-path}/grab_pipette_notip.png);
    background-size: 105px 227px;

    &.tip {
        background-image: url(#{$img-path}/grab_pipette_tip.png);
    }

    &.tip.empty {
        background-image: url(#{$img-path}/grab_pipette_tip_click.png);
    }
}

@mixin view {
    position: relative;
    left: 50%;
    width: 1024px;
    height: 644px;
    margin-left: -512px;
    background-size: 1024px 644px;
}