/* view/chemicalcloset.scss */

.chemicalcloset-view {
    @include view;
    background-image: url(#{$img-path}/storage.png);

    .closet-link {
        position: absolute;
        top: 50px;
        left: 68px;
        width: 440px;
        height: 360px;
    }

    .fridge-link {
        position: absolute;
        top: 10px;
        left: 544px;
        width: 310px;
        height: 610px;
    }

    .drawer-link {
        position: absolute;
        top: 428px;
        left: 96px;
        width: 416px;
        height: 160px;
    }
}
