$screen-width: 893px;
$screen-height: 524px;
$sidebar-width: 250px;
$header-height: 50px;
$content-width: ($screen-width - $sidebar-width);

.computer-view {
    @include view;
    background-image: url(#{$img-path}/computer.png);

    .header {
        background-color: #CCC;
        height: $header-height;

        h2 {
            font-size: 20px;
            padding-top: 12px;
            text-align: center;
        }
    }

    .sidebar {
        @include abs-pos($header-height, 0);
        @include size($sidebar-width, ($screen-height - $header-height));

        border-right: 1px solid $black;
        margin-right: -1px; // make up for the border
        overflow-x: hidden;
        overflow-y: scroll;

        h3 {
            margin: 10px 0 0 10px;
        }

        li {
            list-style: none;
            margin-top: 10px;
            padding: 5px 0 5px 10px;

            &.selected {
                background-color: $white;
                font-weight: bold;
            }
        }
    }

    .screen {
        @include abs-pos(46px, 62px);
        @include size($screen-width, $screen-height);

        background-color: #eeeeee;
    }

    .content {
        @include abs-pos(50px, 250px);
        height: ($screen-height - $header-height - 20px);
        padding: 10px;
        width: ($content-width - 20px);


        .btn-bar {
            bottom: 10px;
            position: absolute;
            text-align: center;
            width: $content-width;
        }
    }

    .content-full {
        @include abs-pos($header-height, 0);
        height: $screen-height - $header-height - 20px;
        padding: 10px;
        width: $screen-width - 20px;

        .btn-bar {
            bottom: 10px;
            position: absolute;
            text-align: center;
            width: $screen-width;
        }
    }

    .content-design-drug {
        background-image: url(#{$img-path}/drug-designer-background.png);
        background-position: 38px 95px;
        background-repeat: no-repeat;
        background-size: 450px;
    }
}

.back-button-computer {
    z-index: 2;
}

@import 'computer/menu';
@import 'computer/design-dna';
@import 'computer/design-drug';
@import 'computer/sequencing';
