/* view/computer.scss */

@import '../variables';

.computer-view {
  background-image: url(#{$img-path}/computer.png); }

.computer-screen {
  position: absolute;
  left: 62px;
  top: 46px;
  width: 893px;
  height: 524px;
  background-color: #eeeeee; }

.computer-mainmenu {
  width: 100%;
  height: 100%; }
  .computer-mainmenu ul {
    padding: 40px 0 0 140px;
    list-style: none;
    clear: both; }
    .computer-mainmenu ul li {
      float: left;
      width: 100px;
      margin: 50px; }
      .computer-mainmenu ul li a:link {
        text-decoration: none; }
      .computer-mainmenu ul li .icon {
        width: 80px;
        height: 80px;
        margin: 0 auto 0 auto;
        background-image: url(#{$img-path}/computer_icon.png);
        border-radius: 8px; }
      .computer-mainmenu ul li .text {
        margin-top: 4px;
        color: #333333;
        text-align: center;
        font-family: $font;
        font-size: 80%;
        line-height: 120%; }

.computer-header-container {
  height: 10%; }
  .computer-header-container .menu-link {
    float: left;
    padding: 10px 0 0 10px; }

.computer-header {
  margin: 0;
  padding-top: 1.2%;
  font-family: $font;
  font-size: 140%;
  font-weight: bold;
  text-align: center;
  color: #333333; }

.computer-subheader {
  padding-left: 10px;
  font-family: $font;
  font-size: 120%;
  font-weight: bold; }

.computer-view-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .computer-view-view ul {
    padding: 0;
    margin: 0;
    width: 29.5%;
    height: 90%;
    float: left;
    list-style: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #333333;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #333333; }
    .computer-view-view ul li div {
      padding-left: 10px;
      font-family: $font;
      font-size: 100%;
      color: #333333; }
    .computer-view-view ul li a:link {
      text-decoration: none; }
    .computer-view-view ul li .selected {
      color: #ffffff;
      background-color: #005aff; }
  .computer-view-view .detail {
    position: relative;
    width: 70%;
    height: 90%;
    float: left;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #333333; }
    .computer-view-view .detail .mouse {
      position: absolute;
      top: 25%;
      left: 25%;
      height: 50%;
      width: 50%;
      background-color: pink; }
    .computer-view-view .detail .order-btn {
      position: absolute;
      bottom: 4%;
      width: 10%;
      margin: 0 45% 0 45%; }
  .computer-view-view .droparea {
    height: 40%;
    padding-left: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #333333; }
    .computer-view-view .droparea p {
      position: relative;
      top: 40%;
      font-family: $font;
      font-size: 80%;
      color: #333333;
      text-align: center; }

.draggablespawn-computer {
  padding-left: 10px;
  font-family: $font;
  font-size: 100%;
  color: #333333;
  background-color: #bbbbbb;
  opacity: 0.5;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1000; }

.dna-element {
  position: relative;
  float: left;
  margin-top: 10%;
  width: 60px;
  height: 60px; }

.dna-element-img {
  width: 60px;
  height: 20px;
  margin-top: 14px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.dna-element-name {
  font-family: $font;
  font-size: 50%;
  color: #333333;
  line-height: 120%;
  text-align: center; }

.dna-element .remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #666666;
  color: #ffffff;
  border: 0; }

.sequence-container {
  padding-left: 10px;
  padding-right: 10px;
  height: 150px;
  overflow-y: scroll;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #333333;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #333333; }

.sequence {
  font-family: $font;
  font-size: 80%;
  color: #333333;
  line-height: 140%; }
  .sequence span {
    word-wrap: break-word; }