/* view/computer.scss */

@import '../variables';
@import 'base';

.computer-view {
    @include view;
    background-image: url(#{$img-path}/computer.png);

    .screen {
        position: absolute;
        left: 62px;
        top: 46px;
        width: 893px;
        height: 524px;
        background-color: #eeeeee;
    }

    .mainmenu {
        position: absolute;
        width: 100%;
        height: 100%;
        ul {
            padding: 40px 0 0 140px;
            list-style: none;
            clear: both;
            li {
                float: left;
                width: 100px;
                height: 100px;
                margin: 50px;
                a:link { text-decoration: none; }
                .icon {
                    width: 80px;
                    height: 80px;
                    margin: 0 auto 0 auto;
                    background-image: url(#{$img-path}/computer_icon.png);
                    border-radius: 8px;
                }
                .text {
                    margin-top: 4px;
                    color: #333333;
                    text-align: center;
                    font-family: $font;
                    font-size: 80%;
                    line-height: 120%;
                }
            }
        }
    }

    .header-container {
        height: 10%;

        .menu-link {
            float: left;
            padding: 10px 0 0 10px;
            cursor: pointer;
        }

        h2 {
            margin: 0;
            padding-top: 1.2%;
            font-family: $font;
            font-size: 140%;
            font-weight: bold;
            text-align: center;
            color: #333333;
        }
    }


    .subheader {
        padding-left: 10px;
        font-family: $font;
        font-size: 120%;
        font-weight: bold;
    }

    .view {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        ul {
            padding: 0;
            margin: 0;
            width: 29.5%;
            height: 90%;
            float: left;
            list-style: none;
            border-top-style: solid;
            border-top-width: 1px;
            border-top-color: #333333;
            border-right-style: solid;
            border-right-width: 1px;
            border-right-color: #333333;
            li {
                div {
                    padding-left: 10px;
                    font-family: $font;
                    font-size: 100%;
                    color: #333333;
                }
                a:link { text-decoration: none; }
                .selected {
                    color: #ffffff;
                    background-color: #005aff;
                }
            }
        }
        .detail {
            position: relative;
            width: 70%;
            height: 90%;
            float: left;
            border-top-style: solid;
            border-top-width: 1px;
            border-top-color: #333333;
            .mouse {
                position: absolute;
                top: 25%;
                left: 25%;
                height: 50%;
                width: 50%;
                background-color: pink;
            }
            .order-btn {
                position: absolute;
                bottom: 4%;
                width: 10%;
                margin: 0 45% 0 45%;
            }
        }

        .droparea {
            height: 40%;
            padding-left: 10px;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: #333333;
            p {
                position: relative;
                top: 40%;
                font-family: $font;
                font-size: 80%;
                color: #333333;
                text-align: center;
            }
        }
    }

    .draggablespawn-computer {
        padding-left: 10px;
        font-family: $font;
        font-size: 100%;
        color: #333333;
        background-color: #bbbbbb;
        opacity: 0.5;
        border-radius: 6px;
        cursor: pointer;
        z-index: 1000; }

    .dna-element {
        position: relative;
        float: left;
        margin-top: 10%;
        width: 60px;
        height: 60px;

        .remove-btn {
            background-image: url(#{$img-path}/icon_trash.png);
            position: absolute;
            top: -12px;
            right: 20px;
            width: 20px;
            height: 20px;
        }
    }

    .dna-element-img {
        width: 60px;
        height: 20px;
        margin-top: 14px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .dna-element-name {
        font-family: $font;
        font-size: 50%;
        color: #333333;
        line-height: 120%;
        text-align: center;
    }

    .sequence-container {
        padding-left: 10px;
        padding-right: 10px;
        height: 150px;
        overflow-y: scroll;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #333333;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #333333;
    }

    .sequence {
        font-family: $font;
        font-size: 80%;
        color: #333333;
        line-height: 140%;
        span { word-wrap: break-word; }
    }
}
