/* view/computer.scss */

.computer-view {
    $screenWidth: 893px;
    $screenHeight: 524px;
    $sideBarWidth: 250px;
    $headerHeight: 50px;

    @include view;
    background-image: url(#{$img-path}/computer.png);

    .header {
        height: $headerHeight;
        background-color: #CCC;

        .menu-link {
            @include abs-pos(12px, 20px);
            @include size(24px, 24px);

            cursor: pointer;
            background-image: url(#{$img-path}/back-arrow.png)
        }

        h2 {
            padding-top: 12px;
            font-size: 20px;
            text-align: center;
        }
    }

    .screen {
        @include abs-pos(46px, 62px);
        @include size($screenWidth, $screenHeight);

        background-color: #eeeeee;

        .sidebar {
            @include abs-pos($headerHeight, 0);
            @include size($sideBarWidth, ($screenHeight - $headerHeight));

            border-right: 1px solid black;
            margin-right: -1px; // make up for the border

            h3 {
                margin: 10px 0 0 10px;
            }

            ul {
                li {
                    list-style: none;
                    margin-top: 10px;
                    padding: 5px 0 5px 10px;

                    &.selected {
                        font-weight: bold;
                        background-color: white;
                    }
                }
            }
        }

        .content-full {
            @include abs-pos($headerHeight, 0);
            width: $screenWidth - 20px;
            height: $screenHeight - $headerHeight - 20px;

            padding: 10px;

            .btn-bar {
                position: absolute;
                bottom: 10px;
                width: $screenWidth;
                text-align: center;
            }
        }

        .content {
            $contentWidth: ($screenWidth - $sideBarWidth);

            @include abs-pos(50px, 250px);

            padding: 10px;

            width: ($contentWidth - 20px);
            height: ($screenHeight - $headerHeight - 20px);


            .btn-bar {
                position: absolute;
                bottom: 10px;
                width: $contentWidth;
                text-align: center;
            }
        }
    }
}


@import 'computer/menu';
@import 'computer/design-dna';
@import 'computer/design-drug';
@import 'computer/sequencing';