/* view/fumehood.scss */

@import '../variables';

.fumehood-view {
  background-image: url(#{$img-path}/fumehood_base.png);
}

#fumehood-table {
  position: absolute;
  top: 390px;
  left: 0px;
  width: 1020px;
  height: 110px;
  z-index: 9;
}

#fumehood-testtubeholder {
  @include tuberack(527px, 228px);
}
