/* view/fumehood.scss */

@import '../variables';
@import 'mixin/compositecontainer';

.fumehood-view {
  background-image: url(#{$img-path}/fumehood_base.png);
}

#fumehood-micro {
  @include tablespacemicro(160px, 380px);
}

#fumehood-petri {
  @include tablespacepetri(600px, 380px);
}

#fumehood-tuberack {
  @include tuberack(527px, 228px);
}
