/* view/incubator.scss */

.incubator-view {
    @include view;
    background-image: url(#{$img-path}/off_base.png);

    ul {
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;
        li { position: absolute; }
    }

    .cover {
        position: absolute;
        top: 0;
        left: 0;
        width: $main-view-width;
        height: $lab-view-height;
        background-image: url(#{$img-path}/on_base2.png);
    }

    .time, .temperature {
        font-size: 28px;
        font-family: $sans-serif;
        opacity: 0.7;
    }
    .time {
        position: absolute;
        text-align: center;
        width: 90px;
        top: 94px;
        left: 270px;
    }
    .temperature {
        position: absolute;
        top: 94px;
        left: 495px;
    }

    .btn {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 62px;
        left: 710px;
    }

    .timeup-btn {
        position: absolute;
        width: 48px;
        height: 48px;
        top: 58px;
        left: 392px;
    }

    .timedown-btn {
        position: absolute;
        width: 48px;
        height: 48px;
        top: 108px;
        left: 392px;
    }

    .tempup-btn {
        position: absolute;
        width: 48px;
        height: 48px;
        top: 58px;
        left: 616px;
    }

    .tempdown-btn {
        position: absolute;
        width: 48px;
        height: 48px;
        top: 108px;
        left: 618px;
    }

    .testtube-holder {
        position: absolute;
        top: 240px;
        left: 300px;
        width: 400px;
        height: 140px;

        ul {
            .slot0 {
                width: 61px;
                height: 126px;
                top: 20px;
                left: 69px;
            }

            .slot1 {
                width: 35px;
                height: 126px;
                top: 20px;
                left: 130px;
            }

            .slot2 {
                width: 36px;
                height: 126px;
                top: 20px;
                left: 165px;
            }
            .slot3 {
                width: 38px;
                height: 126px;
                top: 20px;
                left: 201px;
            }
            .slot4 {
                width: 39px;
                height: 126px;
                top: 20px;
                left: 239px;
            }
            .slot5 {
                width: 62px;
                height: 126px;
                top: 20px;
                left: 278px;
            }
        }
    }

    .petridish-level {
        position: absolute;
        top: 386px;
        left: 480px;
        width: 250px;
        height: 120px;

        ul {
            .slot0 {
                width: 114px;
                height: 44px;
                top: 0;
                left: 72px;
            }
            .slot1 {
                width: 114px;
                height: 94px;
                top: 44px;
                left: 72px;
            }
        }
    }

    .micro {
        position: absolute;
        margin-top: 30px;
        left: 306px;
        top: 375px;
        width: 158px;
        height: 100px;

        .slot0 {
            position: absolute;
            height: 69px;
            width: 158px;

        }
    }
}
