.loading-view {
    @include view;

    background: $off-white;
    box-sizing: border-box;
    color: $grey-blue;
    font-family: $serif;
    height: $main-view-height;
    padding-top: 50px;
    text-align: center;

    header {
        display: inline-block;
        margin: 2em 0 1.5em;
    }

    h1 {
        color: $grey-brown;
        font-size: 3em;
    }

    h2 {
        color: $grey-brown-light;
        font-size: 1.4em;
        margin-top: .4em;
        text-align: right;
    }

    h3 {
        font-size: 1.5em;
        margin: 1em 0 .5em;
    }

    .ba-logo {
        bottom: $spacer;
        height: 60px;
        left: $spacer * 2;
        position: absolute;
        width: 203px;
    }

    .flags {
        bottom: 14px;
        font-size: 0;
        line-height: 0;
        position: absolute;
        right: $spacer * 2;

        img {
            cursor: pointer;
            margin-left: 5px;
            opacity: .4;

        }

        .active {
            opacity: 1;
        }
    }

    .loader-text {
        font-family: $sans-serif;
        font-size: 1.5em;
        margin: 1.5em 0;
    }

    .progress-bar {
        background: $off-white;
        height: $spacer;
        margin: 4em 0 1em;

        .inner {
            background-color: $mint;
            height: $spacer;
        }
    }

    .thanks {
        color: $grey-brown;
    }

    .btn-row {
        bottom: $spacer * 2;
        position: absolute;
    }
}

#experiments {
    max-height: 510px;
    overflow-y: scroll;
    padding: 10px;

    ul {
        font-size: 0; // remove whitespace so 45% * 2 + 10% works
    }

    $imagesize: 100px;

    li {
        background-color: $white;
        background-position: $spacer * 2 center;
        background-repeat: no-repeat;
        background-size: $imagesize;
        border-radius: 5px;
        box-sizing: border-box;
        display: inline-block;
        font-size: 1rem; // because 0 above
        line-height: 2 * $spacer + $imagesize;
        margin: $spacer 0;
        padding: $spacer 2 * $spacer $spacer 4 * $spacer + $imagesize;
        width: 420px;

        &:nth-child(odd) {
            margin-right: $spacer * 2;
        }

        &#clamp { background-image: url(#{$img-path}/guide_experiment_clamp.png); }
        &#diabetes { background-image: url(#{$img-path}/guide_experiment_diabetes.png); }
        &#enzymes { background-image: url(#{$img-path}/guide_experiment_enzymes.png); }
        &#insulin { background-image: url(#{$img-path}/guide_experiment_insulin.png); }
        &#antibody { background-image: url(#{$img-path}/guide_experiment_antibody.png); }
        &#drug { background-image: url(#{$img-path}/guide_experiment_drug.png); }
    }

    .experiment-text {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    h1 {
        font-size: 1.1em;
        line-height: 1.2;
        margin-bottom: .1em;
    }

    p {
        font-family: $sans-serif;
        font-size: .9em;
        line-height: 1.3;
        margin-left: .1em;
    }
}
