/* view/loading.scss */

.loading-view {
    @include view;

    background: #f0f2f1;
    box-sizing: border-box;
    color: #5b5c5d;
    font-family: $serif;
    height: $main-view-height;
    padding-top: 50px;
    text-align: center;

    header {
        margin: 2em 0;
    }

    h1 {
        color: #645d4d;
        font-size: 3em;
        margin: 0;
        position: relative;
    }

    h2 {
        color: #a69d8c;
        font-size: 1.4em;
        position: absolute;
        top: 113px;
        right: 230px;
    }

    h3 {
        margin: 3em 0 0.5em 0;
        font-size: 1.5em;
    }

    .ba-logo {
        position: absolute;
        bottom: 10px;
        left: 25px;
        height: 60px;
        width: 203px;
    }

    .flags {
        position: absolute;
        right: 0px;
        bottom: 40px;

        img {
            cursor: pointer;
            @include opacity(0.4);
            &.active {
                @include opacity(1);
            }
        }
    }

    .loader-text {
        font-family: $sans-serif;
        font-size: 1.5em;
        margin: 1.5em 0;
    }

    .progress-bar {
        height: 10px;
        background: #f0f2f1;
        margin: 4em 0 1em 0;

        .inner {
            height: 10px;
            background-color: #76e1e5;
        }
    }

    .thanks {
        color: #645d4d;
    }

    #experiments {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 50%;
        width: 33em;
        margin: 0 auto;
        text-align: left;

        ul {

            li {
                padding-left: 140px;
                margin: 1em 0;
                min-height: 124px;
                display: flex;
                align-items: center;

                &#clamp { background: url(#{$img-path}/guide_experiment_clamp.png) no-repeat; }
                &#diabetes { background: url(#{$img-path}/guide_experiment_diabetes.png) no-repeat; }
                &#enzymes { background: url(#{$img-path}/guide_experiment_enzymes.png) no-repeat; }
                &#insulin { background: url(#{$img-path}/guide_experiment_insulin.png) no-repeat; }
                &#antibody { background: url(#{$img-path}/guide_experiment_antibody.png) no-repeat; }
                &#drug { background: url(#{$img-path}/guide_experiment_drug.png) no-repeat; }
            }
        }

        h1 {
            font-size: 1.1em;
        }

        p {
            font-size: 0.8em;
            font-family: $sans-serif;
            margin-left: 0.1em;
        }
    }

}
