/* view/menu.scss */

.hud {
    .logo {
        position: absolute;
        left: 0;
        bottom: -4px;
    }

    .top-menu {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 994px;

        .back-button { width: 45px; }

        ul {
            padding: 0;
            list-style: none;

            li {
                margin: 0 5px;
                display: inline-block;
            }
        }

        .right {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
        }
    }

    .menu-bar {
        @include gradient-bg(#6e6e73, #433f46);

        position: absolute;
        bottom: 0;
        width: 1024px;
        height: 122px;

        border-top-width: 2px;
        border-top-style: solid;
        border-color: #555159;

        .guide {
            float: left;
            margin-left: 10px;
        }

        .inventory-container {
            float: left;
            height: 100px;
            position: relative;
            margin-left: 15px;

            .arrow-left, .arrow-right {
                position: absolute;
                cursor: pointer;

                width: 48px;
                height: 80px;
                top: 19px;
            }

            .arrow-left {
                left: -5px;
            }

            .arrow-right {
                left: 510px;
            }

            .inventory {
                @include gradient-bg(#38363c, #54565a);
                @include border(solid, 2px, #1c1b1e, 45px);

                position: absolute;
                left: 20px;
                margin: 13px 0 0 30px;
                width: 448px;
                height: 90px;
                overflow: hidden;

                ul {
                    display: block;
                    position: relative;
                    top: 5px;
                    left: 0;
                    padding: 0;
                    margin-left: 3px;

                    height: 90px;
                    list-style-type: none;
                    white-space: nowrap;

                    li {
                        display: inline-block;
                        width: 80px;
                        height: 80px;
                        margin-left: 4px;

                        div {
                            position: relative;
                            height: 80px;

                            img {
                                position: absolute;
                                bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .menu-right-links {
            float: right;
            margin-top: 10px;
            overflow: hidden;

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    display: inline-block;
                    margin: 0 5px;

                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}

.pipette {
    position: absolute;
    top: 400px;
    left: 800px;
    width: 105px;
    height: 227px;
    z-index: 400;
    background-image: url(#{$img-path}/grab_pipette_notip.png);
    background-size: 105px 227px;

    &.tip {
        background-image: url(#{$img-path}/grab_pipette_tip.png);

        &.full {
            background-image: url(#{$img-path}/grab_pipette_tip_click.png);
        }
    }
}
