/* view/mouse.scss */

@import '../variables';
@import 'base';

.mouse-view {
    @include view;

    background-image: url(#{$img-path}/mouse-view-background-sprite_sRGB.png);
    background-size: 1024px 1288px;
    background-position: 0 644px;

    /* background-position: 0 0; */
    /* .no-bottle { background-position: 0 644px; } */

    & .osxsafari { background-image: url(#{$img-path}/mouse-view-background-sprite_rec709.png); }


    .video {
        position: absolute;
        z-index: 5;
    }

    .video-injection-cure-smallpox, .video-injection-smallpox, .video-run-slow,
    .video-run {
        left: 350px;
        top: 0;
        width: 480px;
        height: 500px;
    }

    .video-drink-start, .video-drink-loop {
        left: 365px;
        top: 0;
        width: 660px;
        height: 644px;
    }

    .video-injection-run, .video-injection-die, .video-run-die, .video-cut {
        left: 350px;
        top: 0;
        width: 480px;
        height: 500px;
    }

    .water-bottle {
        position: absolute;
        left: 840px;
        top: 260px;
        width: 168px;
        height: 365px;
        background-image: none;
        z-index: 11;
        .visible { background-image: url(#{$img-path}/grab_drink.png); }
    }

    .mouse {
        position: absolute;
        left: 450px;
        top: 240px;
        width: 300px;
        height: 150px;
        z-index: 10;
    }

    .mousegraph {
        -webkit-transform: rotate(-4deg);
        -moz-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
        transform: rotate(-4deg);
        left: 64px;
        top: 348px;
        width: 250px;
        height: 200px;
    }

    .dead-mouse {
        position: absolute;
        left: 350px;
        top: 0;
        height: 500px;
        width: 480px;
        background-image: url(#{$img-path}/deadmouse_spleen_sprite.png);
        background-position: 0 0;
        background-size: 480px 1500px;
        z-index: 4;
        &.cut-with-spleen { background-position: 0 -500px; }
        &.cut { background-position: 0 -1000px; }
    }

    .video-container {
        position: absolute;
        left: 0;
        top: 0;
    }
}
