/* view/mouse.scss */

.mouse-view {
    @include view;

    background-image: url(#{$img-path}/mouse-view-background-sprite_sRGB.jpg);
    background-size: 1024px 644px;
    //background-position: 0 644px;

    & .osxsafari { background-image: url(#{$img-path}/mouse-view-background-sprite_sRGB.jpg); }

    .video {
        position: absolute;
        left: 350px;
        top: 0;
        width: 480px;
        height: 500px;
    }

    .video-fast-drink-spawn {
        left: 365px;
        top: 0;
        width: 660px;
        height: 644px;
    }

    .water-bottle {
        position: absolute;
        left: 830px;
        top: 273px;
        width: 168px;
        height: 365px;
        background-image: none;
        transform: rotate(-5deg);
        .visible { background-image: url(#{$img-path}/grab_drink.png); }
    }

    .mouse {
        position: absolute;
        left: 450px;
        top: 240px;
        width: 300px;
        height: 150px;
    }
    
    .glucose-bag {
        $glucoseW: 186px;
        $glucoseH: 133px;
        $glucoseX: 50px;
        $glucoseY: 50px;
        position: absolute;
        top: $glucoseY;
        left: $glucoseX;

        width: $glucoseW;
        height: $glucoseH;
        background-color: transparent;

        .start-btn {
            position: absolute;
            top: 145px;
            left: 70px;
            width: 40px;
            height: 40px;
            background: red;
            display: block;
        }

        .increase-btn {
            position: absolute;
            top: 530px;
            left: 258px;
            width: 15px;
            height: 14px;
            background: transparent;
        }

        .decrease-btn {
            position: absolute;
            top: 545px;
            left: 259px;
            width: 15px;
            height: 14px;
            background: transparent;
        }

        .infusion-rate {
            position: absolute;
            top: 55px;
            left: 20px;
        }
    }

    .mousegraph {
        -webkit-transform: rotate(-4deg);
        -moz-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
        transform: rotate(-4deg);
        left: 64px;
        top: 348px;
        width: 250px;
        height: 200px;
    }

    .dead-mouse {
        position: absolute;
        left: 350px;
        top: 0;
        height: 500px;
        width: 480px;
        background-image: url(#{$img-path}/deadmouse_spleen_sprite.png);
        background-position: 0px 0px;
        background-size: 480px 1500px;
        &.cut { background-position: 0px -1000px; }
    }

    .video-container {
        position: absolute;
        left: 0;
        top: 0;
    }

}
