/* view/overview.scss */

.overview-view {
    @include view;

    background-image: url(#{$img-path}/overview_base.png);

    .spectrophotometer {
        position: absolute;
        left: 365px;
        top: 87px;
        width: 138px;
        height: 85px;
    }

    .door {
        position: absolute;
        left: 499px;
        top: 0;
        width: 118px;
        height: 192px;
    }

    .chemicalcloset {
        position: absolute;
        left: 619px;
        top: 0;
        width: 307px;
        height: 207px;
    }

    .fumehood {
        position: absolute;
        left: 34px;
        top: 120px;
        width: 257px;
        height: 284px;
    }

    .mouse {
        position: absolute;
        left: 802px;
        top: 206px;
        width: 155px;
        height: 106px;
    }

    .worktable1 {
        position: absolute;
        left: 290px;
        top: 355px;
        width: 359px;
        height: 130px;
    }

    .worktable2 {
        position: absolute;
        left: 446px;
        top: 192px;
        width: 244px;
        height: 120px;
    }

    .fermentorchroma {
        position: absolute;
        left: 802px;
        top: 313px;
        width: 222px;
        height: 301px;
    }

    .incubator {
        position: absolute;
        left: 359px;
        top: 485px;
        width: 153px;
        height: 129px;
    }
}