/* view/overview.scss */

@import '../variables';
@import 'base';

.overview-view {
  @include view;

  background-image: url(#{$img-path}/overview_base.png);

  #spectrophotometer-img {
    content:url(#{$img-path}/special_spektro.png);
    position: absolute;
    left: 365px;
    top: 87px;
    width: 138px;
    height: 85px;
  }
  #door-img {
    content:url(#{$img-path}/overview_base-door.png);
    position: absolute;
    left: 499px;
    top: 0;
    width: 118px;
    height: 192px;
  }
  #chemicalcloset-img {
    content:url(#{$img-path}/overview_base-chemicalcloset.png);
    position: absolute;
    left: 619px;
    top: 0;
    width: 307px;
    height: 207px;
  }
  #fumehood-img {
    content:url(#{$img-path}/overview_base-fumehood.png);
    position: absolute;
    left: 34px;
    top: 120px;
    width: 257px;
    height: 284px;
  }
  #mouse-img {
    content:url(#{$img-path}/overview_base-mouse.png);
    position: absolute;
    left: 802px;
    top: 206px;
    width: 155px;
    height: 106px;
  }
  #worktable1-img {
    content:url(#{$img-path}/overview_base-worktable1.png);
    position: absolute;
    left: 290px;
    top: 355px;
    width: 359px;
    height: 130px;
  }
  #worktable2-img {
    content:url(#{$img-path}/overview_base-worktable2.png);
    position: absolute;
    left: 446px;
    top: 192px;
    width: 244px;
    height: 120px;
  }
  #fermentorchroma-img {
    content:url(#{$img-path}/overview_base-fermentorchroma.png);
    position: absolute;
    left: 802px;
    top: 313px;
    width: 222px;
    height: 301px;
  }
  #incubator-img {
    content:url(#{$img-path}/overview_base-incubator.png);
    position: absolute;
    left: 359px;
    top: 485px;
    width: 153px;
    height: 129px;
  }
}

#letter {
  position: absolute;
  left: 70px;
  top: 220px;
  perspective: 600px;
  -webkit-transform: rotateX(80deg) rotateY(-10deg) rotateZ(-10deg);
  -o-transform: rotateX(80deg) rotateY(-10deg) rotateZ(-10deg);
  -moz-transform: rotateX(80deg) rotateY(-10deg) rotateZ(-10deg);
  -ms-transform: rotateX(80deg) rotateY(-10deg) rotateZ(-10deg);
  transform: rotateX(80deg) rotateY(-10deg) rotateZ(-10deg);
  width: 50px;
  height: 27px;
  background-color: yellow;
}

#letter.foreground {
  position: absolute;
  left: 155px;
  top: 95px;
  perspective: 600px;
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  width: 650px;
  height: 350px;
  background-color: yellow;
}