/* view/uvroom.scss */

.uv-view {
  @include view;

  background-image: url(#{$img-path}/uv_base.png);

  .tuberack {
    @include tuberack(479px, 288px);

    .slot0, .slot1, .slot2, .slot3, .slot4, .slot5 { position: absolute; }

    .slot0 {
      width: 48px;
      height: 125px;
      left: 20px;
      top: 30px;

      & img {
        position: absolute;
        left: -20px;
        top: -30px;
      }
    }
    
    .slot1 {
      width: 35px;
      height: 125px;
      left: 72px;
      top: 40px;

      & img {
        position: absolute;
        left: -13px;
      }
    }
    .slot2 {
      width: 35px;
      height: 130px;
      left: 111px;
      top: 40px;

      & img {
        position: absolute;
        left: -10px;
        top: 4px;
      }
    }

    .slot3 {
      width: 39px;
      height: 133px;
      left: 150px;
      top: 41px;

      & img {
        position: absolute;
        left: -10px;
      }
    }

    .slot4 {
      width: 39px;
      height: 132px;
      left: 194px;
      top: 44px;

      & img {
        position: absolute;
        left: -10px;
      }
    }
    
    .slot5 {
      width: 45px;
      height: 137px;
      left: 238px;
      top: 46px;

      & img {
        position: absolute;
        left: -13px;
      }
    }
  }

  .micro {
    @include tablespacemicro(100px, 490px);

    .slot1 {
      left: 230px;
      width: 158px;
    }

    .slot2 {
      left: 150px;
      top: -80px;
      width: 158px;
    }
  }
  .petri { @include tablespacepetri(560px, 470px); }
    
  .tray {
    $gelW: 250px;
    $gelH: 130px;
    position: absolute;
    top: 420px;
    left: 120px;

    width: $gelW;
    height: $gelH;

    background-color: grey;

    .gel {
      position: relative;
      top: 10px;
      left: 10px;

      width: $gelW - 20px;
      height: $gelH - 20px;

      background-color: #CCC;

      &.filled {
        background-color: #18F;
      }
    }

    .lanes {
      width: 100%;
      height: 100%;

      &.stained {
        background-color: navy;
      }
    }

    @for $i from 0 through 4 {
      #lane#{$i} {
        position: absolute;
        top: 10px + ($i * 25px);
        left: 20px;
        width: 10px;
        height: 20px;
        background-color: blue;
            
        &.filled {
          background-color: cyan;
        }
      }
    }
  }
}
