/* view/vetmonitor.scss */
.vetmonitor {
    .export-btn {
        position: absolute;
        top: 574px;
        left: 98px;
        width: 24px;
        height: 24px;
    }

    .bloodsugar-toggle-btn {
        position: absolute;
        background-color: transparent;
        top: 583px;
        left: 206px;
        width: 48px;
        height: 38px;
    }

    .hr-toggle-btn {
        position: absolute;
        background-color: transparent;
        top: 588px;
        left: 140px;
        width: 48px;
        height: 35px;
    }

    .glucose-infusion-rate-toggle-btn {
        position: absolute;
        background-color: transparent;
        top: 580px;
        left: 280px;
        width: 30px;
        height: 30px;
    }

    .power-toggle-light {
        background-color: blue;
        background-image: url(#{$img-path}/mouse-view-monitor-powerON.jpg);
        background-repeat: no-repea;
        position: absolute;
        top: 577px;
        left: 49px;
        width: 46px;
        height: 47px;
    }

    .hr-toggle-light {
        background-color: blue;
        background-image: url(#{$img-path}/mouse-view-monitor-toggleON2.jpg);
        background-repeat: no-repea;
        position: absolute;
        top: 569px;
        left: 153px;
        width: 16px;
        height: 16px;
    }

    .bloodsugar-toggle-light {
        background-color: blue;
        background-image: url(#{$img-path}/mouse-view-monitor-toggleON1.jpg);
        background-repeat: no-repea;
        position: absolute;
        top: 566px;
        left: 217px;
        width: 14px;
        height: 14px;
    }

    .glucose-infusion-rate-toggle-light {
        background-color: blue;
        background-image: url(#{$img-path}/mouse-view-monitor-toggleON3.jpg);
        background-repeat: no-repea;
        position: absolute;
        top: 561px;
        left: 280px;
        width: 15px;
        height: 15px;
    }
    
    .axis-label {
        position: absolute;
        text-align: center;
        font-size: 13px;
        text-decoration: underline;
    }
    
    .yaxis-label {
        transform: rotate(-95deg);
        -o-transform: rotate(-95deg);
        -ms-transform: rotate(-95deg);
        -moz-transform: rotate(-95deg);
        -webkit-transform:  rotate(-95deg);
        transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

    .yaxis-label-0 {
        top: 75%;
        left: 67px;
        color: yellow;
    }

    .yaxis-label-1 {
        top: 70%;
        left: 265px;
        color: blue;
    }
}