/* view/vetmonitor.scss */
.tickLabel {
    font-family: MoolBoran, sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: #477b7b;
 }

.vetmonitor {
    .export-btn {
        position: absolute;
        top: 574px;
        left: 98px;
        width: 24px;
        height: 24px;
    }

    .bloodsugar-toggle-btn {
        position: absolute;
        background-color: transparent;
        top: 583px;
        left: 206px;
        width: 48px;
        height: 38px;
    }

    .hr-toggle-btn {
        position: absolute;
        background-color: transparent;
        top: 588px;
        left: 140px;
        width: 48px;
        height: 35px;
    }

    .glucose-infusion-rate-toggle-btn {
        position: absolute;
        background-color: transparent;
        top: 580px;
        left: 280px;
        width: 30px;
        height: 30px;
    }

    .power-toggle-light {
        background-color: blue;
        background-image: url(#{$img-path}/mouse-view-monitor-powerON.jpg);
        background-repeat: no-repeat;
        position: absolute;
        top: 577px;
        left: 49px;
        width: 46px;
        height: 47px;
    }

    .hr-toggle-light {
        background-color: blue;
        background-image: url(#{$img-path}/mouse-view-monitor-toggleON2.jpg);
        background-repeat: no-repeat;
        position: absolute;
        top: 569px;
        left: 153px;
        width: 16px;
        height: 16px;
    }

    .bloodsugar-toggle-light {
        background-color: blue;
        background-image: url(#{$img-path}/mouse-view-monitor-toggleON1.jpg);
        background-repeat: no-repeat;
        position: absolute;
        top: 566px;
        left: 217px;
        width: 14px;
        height: 14px;
    }

    .glucose-infusion-rate-toggle-light {
        background-color: blue;
        background-image: url(#{$img-path}/mouse-view-monitor-toggleON3.jpg);
        background-repeat: no-repeat;
        position: absolute;
        top: 561px;
        left: 280px;
        width: 15px;
        height: 15px;
    }

    .axis-label {
        position: absolute;
        text-align: center;
        font-size: 15px;
        font-weight: 900;
        text-decoration: none;
        cursor: default;
    }

    .yaxis-label {
        transform: rotate(-4deg);
        transform-origin: 0 0;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 20px;
    }

    .yaxis-label-0 {
        top: 55.6%;
        left: 58px;
        background-color: #c47c72;
        &__text {
            color: #255757;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 3px;
            padding-right: 3px;
        }
    }

    .yaxis-label-1 {
        top: 54.0%;
        left: 222px;
        background-color: #f5cf67;
        &__text {
            color: #518a8a;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 3px;
            padding-right: 3px;
        }
    }
}
