/* view/worktable2.scss */

.worktable2-view {
    @include view;
    background-image: url(#{$img-path}/work2_base.png);

    .micro { @include tablespacemicro(160px, 460px); }
    .petri { @include tablespacepetri(600px, 460px); }
    .tuberack { @include tuberack(492px, 318px); }

    .gelelectro {
        $gelW: 186px;
        $gelH: 133px;
        $gelX: 470px;
        $gelY: 188px;
        position: absolute;
        top: $gelY;
        left: $gelX;

        width: $gelW;
        height: $gelH;

        .btn {
            position: absolute;
            top: 18px;
            left: 190px;
            width: 74px;
            height: 69px;
        }

        .tray {
            position: absolute;
            top: 0px;
            left: 0px;

            width: $gelW;
            height: $gelH;

            background-color: grey;

            .gel-slot {
                position: relative;
                top: 10px;
                left: 10px;

                width: $gelW - 20px;
                height: $gelH - 20px;

                background-color: #CCC;

                &.filled {
                    background-color: #18F; 
                }

            }
        }

        .lanes {
            width: 100%;
            height: 100%;
      
            &.stained {
                background-color: navy;
            }
        }

        @for $i from 0 through 4 {
            #lane#{$i} {
                position: absolute;
                top: 10px + ($i * 25px);
                left: 20px;
                width: 10px;
                height: 20px;
                background-color: blue;

                &.filled {
                    background-color: cyan;
                }

                &.stained {
                    background-color: #0A5299 !important;
                }

                &.result-10 {
                    width: 10px; 
                }

                &.result-100 {
                    width: 125px; 
                    background-color: #0A5299;
                }
            }
        }
    }

    .centrifuge-testtubeholder {
        @include tuberack(110px, 250px);
        border: 1px solid black;

        .slot0, .slot1, .slot2, .slot3 {
            background-color: #FFF;
            opacity: 0.5;
            border: 1px solid red;
        }
    }

    .centrifuge-btn {
        position: absolute;
        top: 334px;
        left: 149px;
        width: 74px;
        height: 69px;
    }

    .blender {
        position: absolute;
        top: 224px;
        left: 371px;
        width: 80px;
        height: 80px;
    }

    .blender.on {
        background-image: url(#{$img-path}/work2_blender-on.png);
    }

    .blender-hit {
        position: absolute;
        width: 160px;
        height: 300px;
        top: 40px;
        left: 320px;
    }

    .od {
        ul {
            margin: 0;
            padding: 0;
            list-style-image: none;
            list-style-type: none;

            li {
                width: 181px;
                height: 241px;
            }
        }

        position: absolute;
        top: 195px;
        left: 817px;
        width: 181px;
        height: 234px;
    }

    .od-display {
        position: absolute;
        top: 240px;
        left: 870px;
        height: 44px;
        width: 70px;
        font-size: 30px;
        line-height: 30px;
        padding-top: 7px;
        text-align: center;
        font-family: $font;
        opacity: 0.7;
    }
}
