/* view/worktable3.scss */

.worktable3-view {
    @include view;
    background-image: url(#{$img-path}/work3_base.png);

    .tuberack {
        @include tuberack(402px, 425px);
        width: 310px; 

        .slot0, .slot1, .slot2, .slot3, .slot4, .slot5 {
            position: relative;
        }

        .slot0 { width: 65px; }
        .slot1 { width: 48px; }
        .slot2 { width: 48px; }
        .slot3 { width: 49px; }
        .slot4 { width: 43px; }
        .slot5 { width: 45px; }
    }

    .video-icebath {
        position: relative;
        top: 275px;
        left: 56px;
    }

    .icebath {
        @include tuberack(165px, 318px);
        height: 190px;
        width: 65px;

        .slot0, .slot1, .slot2, .slot3, .slot4, .slot5 {
            position: relative;
            float: left;
            height: 30px;

            img { position: relative; }
        }

        .slot0 { 
            left: 20px; 
            width: 45px; 
            height: 30px; 

            img { bottom: 12px; left: 11px; }
        }
        .slot1 { 
            left: 18px; 
            width: 45px; 
            height: 28px; 
            
            img { bottom: 16px; left: 7px; }
        }

        .slot2 { 
            left: 15px; 
            width: 45px; 
            height: 28px; 
            
            img { bottom: 17px; left: 4px; }
        }

        .slot3 { 
            left: 10px; 
            width: 45px; 
            height: 32px; 

            img { bottom: 15px; left: 3px; }
        }

        .slot4 { 
            left: 5px; 
            width: 45px; 
            height: 37px; 

            img { bottom: 12px; }
        }

        .slot5 { 
            width: 45px; 
            height: 40px; 

            img { bottom: 16px; left: 4px; }
        }
    }

    .pcr-machine {
        @include tuberack(480px, 228px);

        .slot0, .slot1, .slot2, .slot3 {
            position: relative;
        }
        
        .slot0 { width: 35px; height: 52px; }
        .slot1 { width: 31px; height: 52px; }
        .slot2 { width: 31px; height: 52px; }
        .slot3 { width: 31px; height: 52px; }
    }

    .pcr-machine-btn {
        position: absolute;
        top: 330px;
        left: 545px;
        width: 74px;
        height: 69px;
    }
    
    .pcr-machine-btn img {
        position: absolute;
        top: -330px;
        right: -88px;
    }

    .gelelectro {
        $gelW: 200px;
        $gelH: 145px;
        $gelX: 80px;
        $gelY: 160px;
        
        position: absolute;
        top: $gelY;
        right: $gelX;
        width: $gelW;
        height: $gelH;

        .gelelectro-btn {
            position: relative;
            top: 45px;
            left: 26px;
            width: 74px;
            height: 69px;

            img {
                position: relative;
                top: 4px;
                left: 2px;
            }
        }

        .tray {
            $trayW: 180px;
            $trayH: 205px;
            $trayX: 70px;
            $trayY: 180px;

            position: absolute;
            top: $trayY;
            left: $trayX;
            width: $trayW;
            height: $trayH;

            .gel-in {
                position: relative;
                top: 7px;
                right: 49px;
            }

            .gel-on {
                position: absolute;
                top: 7px;
                right: 4px;
            }

            .gel-slot {
                width: $trayW;
                height: $trayH;

                .lane {
                    float: left; 

                    img {
                        position: absolute;
                    }
                }

                .video {
                    position: absolute;
                    top: 10px;
                }
        
                #lane0 {
                    .slot-full { top: 36px; left: 19px; }
                    .slot-done { top: 49px; left: 11px; }
                    .video-gelelectro .video { top: 49px; left: 11px; }
                }
                #lane1 {
                    .slot-full { top: 41px; left: 48px; }
                    .slot-done { top: 54px; left: 48px; }
                    .video-gelelectro .video { top: 54px; left: 48px; }
                }
                #lane2 {
                    .slot-full { top: 46px; left: 77px; }
                    .slot-done { top: 58px; left: 77px; }
                    .video-gelelectro .video { top: 58px; left: 77px; }
                }
                #lane3 {
                    .slot-full { top: 51px; left: 105px; }
                    .slot-done { top: 65px; left: 109px; }
                    .video-gelelectro .video { top: 65px; left: 109px; } 
                }
            }
        }
    }
}
