/* view/worktable1.scss */

@import '../variables';
@import '../mixin/compositecontainer';
@import 'base';

.worktable1-view {
    @include view;
    background-image: url(#{$img-path}/work1_base.png);

    .micro { @include tablespacemicro(200px, 460px); }

    .petri { @include tablespacepetri(600px, 460px); }

    .tuberack { @include tuberack(514px, 315px); }

    .bunsen {
        position: absolute;
        top: 110px;
        left: 340px;
        width: 90px;
        height: 180px;
    }

    .bunsenflame {
        background-image: url(#{$img-path}/work1_bunsenFlame.png);
        position: absolute;
        top: 6px;
        left: 335px;
        width: 64px;
        height: 128px;
    }

    .electroporator {
        position: absolute;
        top: 230px;
        left: 440px;
        width: 170px;
        height: 70px;
    }

    .electroporator-btn {
        position: absolute;
        top: 198px;
        left: 714px;
        width: 74px;
        height: 69px;
    }

    .heater-btn {
        position: absolute;
        top: 273px;
        left: 893px;
        width: 78px;
        height: 91px;
    }

    .heater-testtubeholder {
        @include tuberack(857px, 229px);
        width: 105px;
        height: 38px;

        #heatertube1, #heatertube2, #heatertube3 { height: 38px; }
        #heatertube1 { width: 38px; }
        #heatertube2 { width: 26px; }
        #heatertube3 { height: 41px; }
    }

    .video-container {
        z-index: 0;
        height: 100%;
        width: 100%;
        video { width: 100%; }
    }

    .video-container.playing {
        z-index: 1000;
        background-color: #000;
    }
}
