/* view/worktable1.scss */

.worktable1-view {
    @include view;
    background-image: url(#{$img-path}/work1_base.png);

    .micro { @include tablespacemicro(200px, 460px); }

    .petri { @include tablespacepetri(600px, 460px); }

    .tuberack { @include tuberack(514px, 315px); }

    .bunsen {
        position: absolute;
        top: 110px;
        left: 340px;
        width: 90px;
        height: 180px;
    }

    .bunsenflame {
        background-image: url(#{$img-path}/work1_bunsenFlame.png);
        position: absolute;
        top: 6px;
        left: 335px;
        width: 64px;
        height: 128px;
    }

    .electroporator {
        position: absolute;
        top: 230px;
        left: 440px;
        width: 170px;
        height: 70px;
    }

    .electroporator-btn {
        position: absolute;
        top: 198px;
        left: 714px;
        width: 74px;
        height: 69px;
    }

    .heater-btn {
        position: absolute;
        top: 273px;
        left: 893px;
        width: 78px;
        height: 91px;
    }

    .heater-testtubeholder {
        @include tuberack(857px, 229px);
        width: 105px;
        height: 38px;

        .slot0, .slot1, .slot2 { height: 38px; }
        .slot0 { width: 38px; }
        .slot1 { width: 26px; }
        .slot2 { height: 41px; }
    }
}
