/* popup/base.scss */

.popup-cover {
    position: absolute;
    width: $main-view-width;
    height: $main-view-height;
}

.popup {
    @include gradient-bg(#2f2f2f, #0f0f0f);
    color: white;
    // background: #f0f2f1;
    // color: #3f4c41;
    border-radius: 5px;
    box-shadow: 0 0 4px $black;
    left: $popup-margin;
    max-height: $main-view-height - 2 * $popup-margin;
    padding: 30px;
    position: absolute;
    right: $popup-margin;
    top: 50%;
    transform: translateY(-50%);

    h1 {
        margin: 0 0 .5em 0;
    }
    h3 {
        margin: 0 0 1em 0;
    }
    h4 {
        margin: 1em 0 0 0;
    }

    h1, h2, h3, h4 {
      line-height: 1.2;
    }

    hr {
        @include border(solid, 0 0 1px 0, #414141);
        height: 1px;
        background-color: $black;
        margin: 1em 0;
        display: none;
    }

    ol {
        margin-top: 1em;

        h2 {
            font-size: 100%;
            margin-top: 2em;
        }
    }

    .description {
        margin-bottom: 20px;
    }

    .sequence {
        word-break: break-all;
        overflow: auto;
        margin-bottom: 20px;
        max-height: 208px;
    }

    .btn-row {
        margin-top: 20px;
        margin-bottom: -10px;
    }
}

@import 'quiz';
@import 'door';
@import 'list';
@import 'details';
@import 'dialog';
@import 'notify';
@import 'video';
@import 'guide';
@import 'dna-info';
@import 'gel-info';
@import 'kv-info';
@import 'microtiter';
@import 'instruments';
@import 'tube-extraction';
