/* popup/base.scss */

.popup-cover {
    position: absolute;
    width: $main-view-width;
    height: $main-view-height;
}

.popup {
    background: #f0f2f1;
    color: #3f4c41;
    position: absolute;
    left: $popup-margin;
    top: $popup-margin;
    right: $popup-margin;
    bottom: $popup-margin;
    padding: $popup-padding;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    h1 {
        margin: 0 0 20px 0;
    }

    hr {
        @include border(solid, 0 0 1px 0, #414141);
        height: 1px;
        background-color: #000000;
        margin: 1em 0;
    }

    ol {
        margin-top: 1em;

        h2 {
            font-size: 100%;
            margin-top: 2em;
        }
    }

    .btn-row {
        width: 800px;
    }
}

@import 'quiz';
@import 'door';
@import 'list';
@import 'details';
@import 'dialog';
@import 'notify';
@import 'video';
@import 'export-data';
@import 'guide';
@import 'dna-info';
@import 'gel-info';
@import 'kv-info';
@import 'microtiter';
@import 'instruments';
@import 'tube-extraction';
