.popup-cover {
    height: $main-view-height;
    position: absolute;
    width: $main-view-width;
}

.popup {
    @include gradient-bg(#2f2f2f, #0f0f0f);
    // background: #f0f2f1;
    // color: #3f4c41;
    border-radius: 5px;
    box-shadow: 0 0 4px $black;
    color: $white;
    font-size: 1.2rem;
    left: $popup-margin;
    max-height: $main-view-height - 2 * $popup-margin;
    padding: 30px;
    position: absolute;
    right: $popup-margin;
    top: 50%;
    transform: translateY(-50%);

    h1 {
        font-size: 1.6em;
        margin: 0 0 .5em;
    }

    h3 {
        font-size: 1.3em;
        margin: 0 0 1em;
    }

    h4 {
        font-size: 1em;
        margin: 1em 0 0;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1.2;
    }

    ol {
        margin-top: 1em;

        h2 {
            font-size: 100%;
            margin-top: 2em;
        }
    }

    .description {
        margin-bottom: 20px;
    }

    .sequence {
        margin-bottom: 20px;
        max-height: 208px;
        overflow: auto;
        word-break: break-all;
    }

    .btn-row {
        margin-bottom: -10px;
        margin-top: 20px;
    }
}

@import 'details';
@import 'dialog';
@import 'dna-info';
@import 'door';
@import 'gel-info';
@import 'guide';
@import 'instruments';
@import 'kv-info';
@import 'list';
@import 'microtiter';
@import 'notify';
@import 'quiz';
@import 'tube-extraction';
@import 'video';
@import 'vetmonitor';
