/* popup/base.scss */

.popup-cover {
    position: absolute;
    width: 1024px;
    height: 768px;
    background-color: white;
}

.popup {
    @include gradient-bg(#2f2f2f, #0f0f0f);

    position: absolute;

    left: 82px;
    top: 50px;
    padding: 30px;
    width: 800px;
    height: 480px;
    color: white;

    border-radius: 5px;
    box-shadow: 0 0 4px #000000;

    h1 {
        margin: 0 0 20px 0;
    }

    hr {
        @include border(solid, 0 0 1px 0, #414141);
        height: 1px;
        background-color: #000000;
    }

    .btn-row {
        width: 800px;
    }
}

@import 'quiz';
@import 'door';
@import 'list';
@import 'details';
@import 'dialog';
@import 'notify';
@import 'video';
@import 'export-data';
@import 'guide';
@import 'dna-info';
@import 'kv-info';