/* popup/details.scss */

.popup-item-details {
    left: $popup-narrow-margin;
    right: $popup-narrow-margin;

    textarea {
        box-sizing: border-box;
        font-size: inherit;
        height: 200px;
        margin-top: 8px;
        padding: 5px;
        resize: none;
        width: 100%;
    }
}
