/* popup/details.scss */

.popup-item-details {
    left: 250px;
    right: 250px;
    width: auto;
    height: auto;

    textarea {
        box-sizing: border-box;
        font-size: inherit;
        height: 200px;
        margin-bottom: 60px;
        padding: 5px;
        resize: none;
        width: 100%;
    }
}
