/* popup/door.scss */

@import '../variables';

.popup-door {
    ul {
        padding: 0;
        text-align: center;
        margin-top: 110px;

        li {
            margin: 0 40px;
            padding: 0;
            list-style: none;
            text-align: center;
            display: inline-block;
            width: 80px;

            img {
                height: 80px;
                width: 80px;
                margin-bottom: 20px;
            }
        }
    }
}