/* popup/door.scss */

@import '../variables';

.popup-door {
  ul {
    list-style: none;
    width: 480px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    clear: both;

    li {
      float: left;
      img {
        height: 80px;
        width: 80px;
        margin: 0 40px 0 40px;
      }
    }
  }

  .btn-row {
    position: absolute;
    bottom: 40px;
    left: 0px;
  }
}