/* popup/exportData.scss */

.popup-export-data {
    $width: 400px;

    padding: 30px;

    left: 290px;
    top: 50px;
    width: $width;
    height: 480px;

    color: white;

    textarea {
        width: 375px;
        height: 260px;
        resize: none;
        font-size: 10px;
        padding: 10px;
    }

    .btn-row {
        width: $width;
    }

    .export-log-btn-edit {
        position: relative;
        top: 5px;
        font-size: 30px;
        cursor: pointer;
    }
}