/* popup/gel-info.scss */

.popup-gel-info {
    height: 480px;

    .lanes {
        height: 350px;
        background-color: navy;
        width: 100%;
    }

    @for $i from 0 through 4 {
      #lane#{$i} {
        position: relative;
        top: 25px + ($i * 45px);
        left: 40px;
        width: 20px;
        height: 40px;
        background-color: blue;
            
        &.filled {
          background-color: cyan;
        }
      }
    }

}
