$img-guide: "#{$img-path}/guide_";

.popup-guide {
    background: $off-white;
    color: #3f4c41;
    font-family: $serif;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    left: $popup-medium-margin;
    right: $popup-medium-margin;

    h1 {
        color: #645d4d;
        font-size: 1.2em;
        margin: 0;
    }

    h2 {
        color: #a69d8c;
        font-size: .6em;
        line-height: 1;
        margin-bottom: $spacer;
    }

    .logo-wrap {
        position: absolute;
        right: $popup-padding;
        top: 25px;
    }

    .ba-logo {
        margin-bottom: -5px;
        width: 130px;
    }

    .dda-logo {
        padding-right: 20px;
        width: 165px;
    }

    ul li {
        margin-bottom: 15px;

        i {
            margin-left: 5px;
        }
    }

    .btn-row {
      margin-top: 10px;
    }

    .inner {
        height: 460px;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0 10px;
        position: relative;

        header {
            background-repeat: no-repeat;
            margin-bottom: 2em;
            min-height: 124px;
            padding-left: 145px;
            position: relative;

            &#clamp {
                background-image: url("#{$img-guide}experiment_clamp.png");
            }

            &#diabetes {
                background-image: url("#{$img-guide}experiment_diabetes.png");
            }

            &#enzymes {
                background-image: url("#{$img-guide}experiment_enzymes.png");
            }

            &#insulin {
                background-image: url("#{$img-guide}experiment_insulin.png");
            }

            &#antibody {
                background-image: url("#{$img-guide}experiment_antibody.png");
            }

            &#drug {
                background-image: url("#{$img-guide}experiment_drug.png");
            }

            h1 {
                color: #3f4c41;
                font-size: 1.6em;
                font-weight: bold;
                margin: .5em 0;
            }
        }

        h2 {
            font-size: 1.2em;
            color: #3f4c41;
            margin: 1em 0 0.5em;
            position: static;
        }

        table {
            width: 100%;

            thead {
                padding-top: 0.5em;

                h3 {
                    font-size: 1em;
                    padding-top: 0.5em;
                }
            }

            td {
                position: relative;
                padding: 0.5em 0;
            }

            .task-checkmark {
                width: 50px;
                padding-bottom: 3em;
            }

            .task-index {
                font-weight: bold;
                padding-right: 10px;
                text-align: center;
            }

            .part-question {
                font-weight: bold;
            }

            input[type=checkbox] {
                display: none;
            }

            input[type=checkbox] + label {
                background: url("#{$img-guide}checkmark_off.png") 0 0 no-repeat;
                display: inline-block;
                height: 57px;
                left: 0;
                padding: 0;
                position: absolute;
                top: -8px;
                width: 44px;
            }

            input[type=checkbox]:checked + label {
                background-image: url("#{$img-guide}checkmark_on.png");
            }
        }
    }
}
