/* popup/instruments.scss */

.popup-instruments {

    $width: 934px;
    $nav-width: 255px;

    padding: 30px;

    color: white;

    left: 13px;
    top: 10px;
    width: $width;
    height: 560px;

    .inner {

        .nav {
            overflow-y: auto;
            float: left;

            width: $nav-width;
            height: 480px;

            ul li {
                position: relative;

                &.active {
                    font-weight: bold;
                }

                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }

                span {
                    position: absolute;
                    margin-top: 5px;
                }
            }
        }

        .content {
            overflow-y: auto;

            padding-left: 30px;

            width: $width - $nav-width - 30px;
            height: 390px;

            .title {
                margin-bottom: 15px;
                text-decoration: underline;
            }

            img {
                margin-right: 20px;
                max-width: 200px;
            }
        }
    }

    .help-btn-row {
        position: absolute;
        bottom: 20px;
        /* width: 100%; */
        text-align: center;
        right: 21px;
    }
}