/* popup/instruments.scss */

.popup-instruments {
    .inner {
        .nav {
            overflow-y: auto;
            overflow-x: hidden;
            float: left;
            width: 30%;
            height: 480px;

            ul li {
                position: relative;

                &.active {
                    font-weight: bold;
                }

                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }

                span {
                    position: absolute;
                    margin-top: 5px;
                    width: 300px;
                }
            }
        }

        .content {
            overflow-y: auto;
            width: 70%;
            height: 390px;

            .title {
                margin-bottom: 15px;
                text-decoration: underline;
            }

            img {
                margin-right: 20px;
                max-width: 200px;
            }
        }
    }

    .help-btn-row {
        position: absolute;
        bottom: 20px;
        /* width: 100%; */
        text-align: center;
        right: 21px;
    }
}
