.popup-instruments {
    font-size: 1rem;

    .inner {
        .nav {
            float: left;
            height: 480px;
            overflow-x: hidden;
            overflow-y: auto;
            width: 30%;

            ul li {
                position: relative;

                &.active {
                    font-weight: bold;
                }

                img {
                    height: 30px;
                    margin-right: 10px;
                    width: 30px;
                }

                span {
                    margin-top: 5px;
                    position: absolute;
                    width: 300px;
                }
            }
        }

        .content {
            max-height: 430px;
            overflow-y: auto;
            width: 70%;

            .title {
                margin-bottom: 15px;
                text-decoration: underline;
            }

            img {
                margin-right: $spacer * 2;
                max-width: 200px;
            }
        }
    }

    .help-btn-row {
        bottom: $spacer * 2;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
    }
}
