/* popup/kv-info.scss */

.popup-kv-info {
    $width: 400px;

    padding: 30px;

    left: 290px;
    top: 200px;
    width: $width;
    height: 170px;

    color: white;

    .description { margin-bottom: 20px }

    .sequence {
        max-height: 100px;
        word-break: break-all;
        overflow: auto;
        margin-bottom: 20px;
    }

    h1 {
        line-height: 1.2;
    }

    .btn-row {
        width: $width;
    }
}