/* popup/list.scss */

.popup-list {
    left: $popup-wide-margin;
    right: $popup-wide-margin;

    ul {
        padding: 0 0px;
        text-align: center;
        margin-top: 30px;

        li {
            margin: 0 10px 20px 10px;
            list-style: none;
            text-align: center;
            display: inline-block;
            width: 120px;
            vertical-align: top;

            img {
                height: 80px;
                width: 80px;
            }
        }
    }
}
