/* popup/list.scss */

.popup-list {
    ul {
        padding: 0 50px;
        text-align: center;
        margin-top: 50px;

        li {
            margin: 0 10px 20px 10px;
            list-style: none;
            text-align: center;
            display: inline-block;
            width: 110px;

            img {
                height: 80px;
                width: 80px;
                margin-bottom: 5px;
            }
        }
    }
}