.popup-list {
    left: $popup-wide-margin;
    right: $popup-wide-margin;

    ul {
        margin-top: 30px;
        padding: 0 0px;
        text-align: center;
    }

    li {
        display: inline-block;
        list-style: none;
        margin: 0 10px 20px;
        text-align: center;
        vertical-align: top;
        width: 120px;

        img {
            height: $inventory-icon-size;
            width: $inventory-icon-size;
        }
    }
}
