/* popup/microtiter.scss */

.fake-back-button {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 45px;
}

.popup-microtiter {
  position: absolute;
  width: 1024px;
  height: 644px;
  background-size: 1024px 644px;
  background-image: url(#{$img-path}/zoom_mkrt_empty.png);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li { float: left; }
  }
}

.well-slot0, .well-slot1, .well-slot2, .well-slot3 { width: 110px; height: 100px; position: absolute;}

$topRow0: 130px;
$leftColumn0: 162px;
$leftColumn1: $leftColumn0 + 128px;

.well-slot0{
  top: $topRow0;
  left: $leftColumn0;
}
.well-slot1{
  top: $topRow0;
  left: $leftColumn1;
}
.well-slot2{
  top: $topRow0;
  left: 410px;
}
.well-slot3{
    top: $topRow0;
    left: 560px;
}