// popup/notify.scss

.popup-notify {
    height: auto;
    left: auto;
    margin-bottom: 20px;
    margin-left: auto;
    opacity: .85;
    padding: 20px;
    position: relative;
    right: 20px;
    top: 20px;
    transform: translateY(0);
    width: 300px;

    h3 {
        margin: 0 0 8px;
    }
}
