/* popup/notify.scss */

.popup-notify {
  $width: 300px;

  padding: 30px;

  left: 70px;
  top: 20px;
  width: $width;
  height: 100px;

  color: white;
  opacity: 0.85;

  h3 {
    margin: 0px;
  }
}