/* popup/quiz.scss */

.popup-quiz {
    left: $popup-medium-margin;
    right: $popup-medium-margin;
    padding: 50px 60px $popup-padding;

    .answers {
        margin-top: 20px;

        li {
            list-style: initial;
            margin-bottom: 20px;

            .answer {
                cursor: pointer;

                &.correct.tried {
                    color: green;
                }

                &.incorrect.tried  {
                    color: red;
                }
            }
        }
    }
}
