/* popup/quiz.scss */

.popup-quiz {
    $width: 600px;

    padding: 30px;

    left: 190px;
    top: 50px;
    width: $width;
    height: 480px;

    color: white;

    .answers {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 40px;

            .answer {
                cursor: pointer;

                &.correct.tried {
                    color: green;
                }

                &.incorrect.tried  {
                    color: red;
                }
            }
        }
    }

    .btn-row {
        width: $width;
    }
}