/* popup/tube-extraction.scss */

.popup-tube-extraction {
    $width: 600px;

    padding: 30px;

    left: 290px;
    top: 50px;
    width: $width;
    height: 480px;

    color: white;

    .extraction {
        position:relative;
            
        margin-top: 10px;
        width: 509px;
        height: 320px;

        background-repeat: no-repeat;

        &.from-mouse-blood {
            background-image: url(#{$img-path}/tube_extraction_blood.png);

            .buffy-coat {
                width: 55px;
                height: 15px;
                position: absolute;
                top: 173px;
                left: 100px;
            }

            .red-blood-cells {
                width: 55px;
                height: 95px;
                position: absolute;
                top: 190px;
                left: 100px
            }
        }

        &.from-clumped-cells {
            background-image: url(#{$img-path}/tube_extraction_clumped_cells.png);

            .ffd {
                width: 55px;
                height: 25px;
                position: absolute;
                top: 74px;
                left: 100px;
            }
        }
    }

    .btn-row {
        width: $width;
    }
}
