/* mixin/color.scss */

@mixin gradient-bg($from, $to) {
    background: $from;
    background: linear-gradient(to bottom, $from 0%, $to 100%);
}

@mixin opacity($trans) {
    opacity: $trans;
}

@mixin border($style, $width, $color, $radius: 0px) {
    border-style: $style;
    border-width: $width;
    border-color: $color;
    border-radius: $radius;
}

@mixin border-radius($angle) {
    border-radius: $angle;
}

@mixin abs-pos($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}
