/* view/computer/design-drug.scss */

@mixin blue-circle () {
    position: absolute;
    $width: 40px;
    margin: (-$width / 2) 0 0 (-$width / 2);
    width: $width;
    height: $width;

    @include border-radius(45px);
    @include opacity(0.1);
    background-color: blue;
}

.screen.computer-design-drug {

    .sidebar {

      width: 215px;

        ul li {
            margin-top: -10px;
            border-bottom: 1px solid #CCC;
            height: 110px;
        }
    }
    .content {

        .trash {
            position: absolute;
            right: 20px;
            bottom: 20px;
            width: 70px;
        }

        .scaffold {
            position: absolute;
        }

        .slots {
            position: absolute;

            .slot {
                @include blue-circle();
            }
        }
    }

}

.drug-draggable.ui-draggable-dragging {
    position: relative;

    &:after {
        content: '';
        @include blue-circle();
        top: 40px;
        left: 40px;
    }
}
