/* view/computer/design-drug.scss */

.screen.computer-design-drug {

    .sidebar {

        ul li {
            margin-top: -10px;
            border-bottom: 1px solid #CCC;
            height: 140px;
        }
    }
    .content {
        .trash {
            position: absolute;
            right: 20px;
            bottom: 20px;
            width: 70px;
        }

        .scaffold {
            position: absolute;
        }

        .slots {
            position: absolute;

            .slot {
                position: absolute;

                $width: 40px;
                margin: (-$width / 2) 0 0 (-$width / 2);
                width: $width;
                height: $width;

                @include border-radius(45px);
                @include opacity(0.1);
                background-color: blue;
            }
        }
    }
}