<div class="computer-view view">
 <!--<a id="quiz-test-link">Test quiz popup</a>-->
 <div class="computer-screen">
 	<div class="computer-mainmenu" id="computer-mainmenu">
 		<ul>
 			<li>
 				<a href="javascript:;" id="order-mouse">
 					<div class="icon"></div>
 					<div class="text">Bestil mus</div>
 				</a>
 			</li>
 			<li>
 				<div class="icon order-drug"></div>
 				<div class="text">Bestil lægemiddel</div>
 			</li>
 			<li>
 				<div class="icon order-cleansedprotein"></div>
 				<div class="text">Bestil oprænset protein</div>
 			</li>
 			<li>
 				<div class="icon send-tubesequencing"></div>
 				<div class="text">Send til sekvensering</div>
 			</li>
 			<li>
 				<a href="javascript:;" id="design-dna">
 					<div class="icon design-dna"></div>
 					<div class="text">Design DNA</div>
 				</a>
 			</li>
 			<li>
 				<div class="icon design-drug"></div>
 				<div class="text">Design lægemiddel</div>
 			</li>
 		</ul>
 	</div>
 	<div class="computer-view-view hidden" id="computer-ordermouse">
 		<div class="computer-header-container"><a href="javascript:;" class="menu-link">Menu</a><h2 class="computer-header">Bestil mus</h2></div>
 		<ul>
 			<li><a href="javascript:;" data-mouse="healthy"><div class="selected">Rask mus</div></a></li>
 			<li><a href="javascript:;" data-mouse="diabetes"><div>Mus med diabetes</div></a></li>
 		</ul>
 		<div class="detail">
 			<div class="mouse healthy">HEALTHY MOUSE</div>
 			<div class="mouse diabetes hidden">DIABETES MOUSE</div>
 			<button>Bestil</button>
 		</div>
 	</div>
 	<div class="computer-view-view hidden" id="computer-designdna">
 		<div class="computer-header-container"><a href="javascript:;" class="menu-link">Menu</a><h2 class="computer-header">Design DNA</h2></div>
 		<ul class="dna-element-list"></ul>
 		<div class="detail">
 			<div class="droparea droppable">
 				<p>Træk genelementer hertil fra listen i venstre side for at designe et gen</p>
 			</div>
 			<h3 class="computer-subheader">Sekvens:</h3>
 			<div class="sequence-container">
 				<div class="sequence" id="computer-dnasequence"></div>
 			</div>
 			<button class="order-btn" id="order-btn-DNA">Bestil</button>
 		</div>
 	</div>
 </div>
</div>