<div class="incubator-view view">
	<button class="btn-none" id="incubator-btn"></button>
	<div class="time">48 h</div>
	<div class="temperature">30 &deg;C</div>
	<button class="btn-none" id="incubator-timeup-btn"></button>
	<button class="btn-none" id="incubator-timedown-btn"></button>
	<button class="btn-none" id="incubator-tempup-btn"></button>
	<button class="btn-none" id="incubator-tempdown-btn"></button>
	<div id="incubator-testtube-holder">
		<ul>
			<li class="droppable testtube-holder-slot" id="incubator-tubeslot-1"></li>
			<li class="droppable testtube-holder-slot" id="incubator-tubeslot-2"></li>
			<li class="droppable testtube-holder-slot" id="incubator-tubeslot-3"></li>
			<li class="droppable testtube-holder-slot" id="incubator-tubeslot-4"></li>
			<li class="droppable testtube-holder-slot" id="incubator-tubeslot-5"></li>
			<li class="droppable testtube-holder-slot" id="incubator-tubeslot-6"></li>
		</ul>
	</div>
	<div id="incubator-petridish-level">
		<ul>
			<li class="droppable petridish-slot" id="incubator-dishslot-1"></li>
			<li class="droppable petridish-slot" id="incubator-dishslot-2"></li>
			<li class="droppable petridish-slot" id="incubator-dishslot-3"></li>
			<li class="droppable petridish-slot" id="incubator-dishslot-4"></li>
			<li class="droppable petridish-slot" id="incubator-dishslot-5"></li>
			<li class="droppable petridish-slot" id="incubator-dishslot-6"></li>
		</ul>
	</div>
</div>