<ul>
	<li><a href="javascript:;" id="menu-experimentinstructions-link"><img class="menu-left-icon" src="img/icon_main_notes.png" alt="Øvelsesvejledninger" /></a></li>
</ul>
<div class="logo-container">
	<img class="logo" src="img/logo-white.png" alt="Biotech Academy logo" />
</div>
<div class="menu-inventory-container">
	<div class="inventory droppable">
		<ul>
		</ul>
	</div>
</div>
<div class="menu-right-links">
	<ul>
		<li><button class="btn-none" id="menu-pipette-btn"><img src="img/icon_big_pipette.png" alt="Pipette" /></button></li>
		<li><button class="btn-none" id="menu-tips-btn"><img src="img/icon_big_tips.png" alt="Pipette spidser" /></button></li>
		<li><button class="btn-none" id="menu-trash-btn"><img src="img/icon_big_biotrash.png" alt="Affald" /></button></li>
	</ul>
</div>
