<div class="popup-quiz">
	<h1>{{title}}</h1>
	<p>{{question}}</p>
	<form>
  	<fieldset>
   		<ul>
 				<li><label for="answer1">{{answer1}}</label><input type="radio" name="answer" value="1" id="answer1" /><label for="answer1" onclick=""></label></li>
    		<li><label for="answer2">{{answer2}}</label><input type="radio" name="answer" value="2" id="answer2" /><label for="answer2" onclick=""></label></li>
    		<li><label for="answer3">{{answer3}}</label><input type="radio" name="answer" value="3" id="answer3" /><label for="answer3" onclick=""></label></li>
   		</ul>
  	</fieldset>
 	</form>
	<div id="quiz-answer" class="hidden">
 		<p></p>
  	<div class="btn-row"><button id="popup-ok-btn">OK</button></div>
	</div>
</div>