<div class="worktable1-view view">
	<div class="video-container"></div>
	<div class="droppable" id="worktable1-table"></div>
	<div id="worktable1-testtubeholder">
		<ul>
			<li class="droppable testtubeholder-slot" id="tube1"></li>
			<li class="droppable testtubeholder-slot" id="tube2"></li>
			<li class="droppable testtubeholder-slot" id="tube3"></li>
			<li class="droppable testtubeholder-slot" id="tube4"></li>
			<li class="droppable testtubeholder-slot" id="tube5"></li>
			<li class="droppable testtubeholder-slot" id="tube6"></li>
		</ul>
	</div>
	<div id="worktable1-bunsenflame" class="hidden"></div>
	<button class="btn-none" id="worktable1-bunsen"></button>
	<div class="droppable" id="worktable1-electroporator"></div>
	<button class="btn-none" id="worktable1-electroporator-btn"><img class="hidden" src="img/work1_dev1-on.png" alt="Electroporator button" /></button>
	<div id="worktable1-heater-testtubeholder">
		<ul>
			<li class="droppable heater-slot" id="heatertube1"></li>
			<li class="droppable heater-slot" id="heatertube2"></li>
			<li class="droppable heater-slot" id="heatertube3"></li>
		</ul>
	</div>
	<button class="btn-none" id="worktable1-heater-btn"><img class="hidden" src="img/work1_dev2-on.png" alt="Heater button" /></button>
</div>