<div class="worktable2-view view">
	<div class="droppable" id="worktable2-table"></div>
	<div id="worktable2-testtubeholder">
		<ul>
			<li class="droppable testtubeholder-slot" id="tube1"></li>
			<li class="droppable testtubeholder-slot" id="tube2"></li>
			<li class="droppable testtubeholder-slot" id="tube3"></li>
			<li class="droppable testtubeholder-slot" id="tube4"></li>
			<li class="droppable testtubeholder-slot" id="tube5"></li>
			<li class="droppable testtubeholder-slot" id="tube6"></li>
		</ul>
	</div>
	<div class="droppable" id="worktable2-centrifuge"></div>
	<button class="btn-none" id="worktable2-blender"></button>
	<div class="droppable" id="worktable2-od"></div>
	<div class="hidden" id="worktable2-od-display">0.0</div>
</div>