# @author: Chris Hjorth, www.chrishjorth.com

Options -Indexes
# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch
Options -MultiViews

# Make index.php the directory index page
DirectoryIndex index.php

#Protect the .htaccess files
<Files .htaccess>
	order allow,deny
	deny from all
</Files>

<IfModule mod_rewrite.c>
  	RewriteEngine On
  	RewriteBase /api/
  
  	# START Codeigniter ------------------------------------------------------------------------------------------------------------
  	# based on http://www.danielwmoore.com/extras/index.php?topic=7691.0 and http://ellislab.com/forums/viewthread/132758/
  
  	# Redirect default controller to "/".
  	# This is to prevent duplicated content. (/welcome/index => /)
  	RewriteRule ^(welcome(/index)?)/?$ /api/ [L,R=301]

  	# Remove /index/ segment on the URL, again to prevent duplicate content.
  	RewriteRule ^(.*)/index/? $1 [L,R=301]

  	# Remove trailing slashes, also to remove duplicate content
  	RewriteCond %{REQUEST_FILENAME} !-f
  	RewriteCond %{REQUEST_FILENAME} !-d
  	RewriteRule ^(.*)(/+)$ $1 [L,R=301]

  	# Remove multiple slashes in between, just to remove the possibility of fabricating crazy links.
  	RewriteCond %{REQUEST_URI} ^(.*)//(.*)$
  	RewriteRule . %1/%2 [R=301,L]
  
  	# Ignore certain files and folders in this rewrite
  	RewriteCond $1 !^(index\.php|assets|uploads|blog|frameworks|logs|files|robots\.txt|favicon\.ico|jperhvervscenter)
  
  	# [NC] = no case - case insensitive
  	# [L] = Last rule, last rewrite for this set of conditions
  	# [QSA] = Query String Append, should be used to prevent all redirects from going to your default controller, which happens on 
  	# some server configurations.
  	RewriteRule ^(.*)$ index.php?/$1 [NC,L,QSA]
  
  	# END Codeigniter --------------------------------------------------------------------------------------------------------------
  
  	# START Adaptive-Images --------------------------------------------------------------------------------------------------------

  	# Add any directories you wish to omit from the Adaptive-Images process on a new line, as follows:
  	# RewriteCond %{REQUEST_URI} !ignore-this-directory
  	# RewriteCond %{REQUEST_URI} !and-ignore-this-directory-too

  	# Don't apply the AI behaviour to images inside AI's cache folder:
  	RewriteCond %{REQUEST_URI} !frameworks/adaptiveimages/ai-cache
   
  	# ADDED BY CHRIS HJORTH: Use Adaptive-images only on images in the specified folder
  	RewriteCond %{REQUEST_URI} assets/ai-images/
    
  	# Send any GIF, JPG, or PNG request that IS NOT stored inside one of the above directories
  	# to adaptive-images.php so we can select appropriately sized versions
  	RewriteRule \.(?:jpe?g|gif|png)$ frameworks/adaptiveimages/adaptive-images.php

  	# END Adaptive-Images ----------------------------------------------------------------------------------------------------------
</IfModule>

# If Mod_ewrite is NOT installed go to index.php
<IfModule !mod_rewrite.c>
    ErrorDocument 404 index.php
</IfModule>
